.country-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.country-selector .el-select {
  width: 100%;
  height: 100%;
}

.country-selector .el-select .el-input__prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.country-selector .el-select .el-input--medium {
  height: 100%;
}

.country-selector .el-select .el-input .el-input__inner {
  height: 100%;
  background-color: #fff;
  border-radius: 0.107rem;
}

.mobile-country-selector .el-select {
  width: 100%;
}

.mobile-country-selector .el-select .el-input__prefix {
  padding-left: 0.133rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-country-selector .el-select .el-input__prefix .fi {
  width: 0.667rem;
  height: 0.667rem;
}

.mobile-country-selector .el-select .el-input__suffix {
  padding-right: 0.133rem;
}

.mobile-country-selector .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
  font-size: 0.267rem;
}

.mobile-country-selector .el-select .el-input .el-input__inner {
  height: 1.093rem;
  background-color: #fff;
  border: 0.013rem solid #e0e0e0;
  border-radius: 0.107rem;
  padding-left: 0.933rem;
  padding-right: 0.533rem;
  font-size: 0.293rem;
  font-weight: 400;
  color: #818181;
}

.inputColor {
  --formBg: #f4f6f8;
  --boxBg: #fff;
  --elFormBg: #fcfdfd;
}

.is_dark .inputColor {
  --formBg: #000;
  --boxBg: #161617;
  --boxBor: none;
  --boxBor: #ccc;
  --elFormBg: #232325;
}

.register {
  min-height: 96vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register .signinImg {
  width: 45%;
  background: url('@/assets/image/Slice8.png') no-repeat 50% 26%;
  background-size: cover;
}

.register .signinImg,
.register .signinImg .signinImg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.register .signinImg .signinImg-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.register .signinImg .signinImg-box .signinImg-title {
  width: 100%;
  font-size: 0.48rem;
  font-weight: 500;
  color: #fff;
}

.register .signinImg .signinImg-box .signinImg-title .name {
  color: var(--goldColor);
}

.register .signinImg .signinImg-box .signinImg-remark {
  margin-top: 0.4rem;
  width: 100%;
  font-size: 0.267rem;
  font-weight: 500;
  color: #fff;
}

.register .signinImg .signinImg-box .signinImg-bor {
  background: #27282a;
  border-radius: 0.107rem;
  padding: 0.133rem 0.267rem;
  width: 150%;
}

.register .signinImg .signinImg-box .signinImg-bor h6 {
  font-size: 0.24rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.267rem;
}

.register .signinImg .signinImg-box .signinImg-bor span {
  font-size: 0.187rem;
  font-weight: 400;
  color: #a9a9aa;
}

.register .register_box {
  padding: 0.8rem 0;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.register .register_box .login_box_img {
  position: absolute;
  z-index: 1;
}

.register .register_box > .login_box_img:first-of-type {
  right: 0;
  top: 0;
}

.register .register_box > .login_box_img:last-of-type {
  left: 0;
  bottom: 0;
}

.register .register_box .register_box_form {
  width: 50%;
  min-width: 5.067rem;
  max-width: 7.2rem;
  border-radius: 0.8rem;
}

.register .register_box .register_box_form h2 {
  margin: 0;
  font-size: 0.613rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  color: #000;
}

.register .register_box .register_box_form .groupTestOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.267rem;
  width: 6.4rem;
}

.register .register_box .register_box_form .groupTestOption li {
  color: #909090;
  height: 0.64rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.267rem;
  padding: 0 0.133rem;
  font-size: 0.213rem;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
}

.register .register_box .register_box_form .groupTestOption .selected {
  border-bottom: 0.04rem solid #000;
  font-size: 0.24rem;
  font-weight: 700;
  color: #000;
}

.register .register_box .register_box_form .el-form .phoneNumber {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .register_box .register_box_form .el-form .phoneNumber .country {
  width: 35%;
  height: 0.533rem;
  margin-right: 0.067rem;
}

.register .register_box .register_box_form .el-form .phoneNumber .country .el-input__inner {
  width: 100%;
  color: #000;
  background-color: transparent;
  border-radius: 0.107rem;
  border: 0.013rem solid #000;
}

.register .register_box .register_box_form .el-form .phoneNumber .country .el-input__suffix {
  padding-right: 0.133rem;
}

.register .register_box .register_box_form .el-form .phoneNumber .el-form-item--medium {
  width: 100%;
}

.register .register_box .register_box_form .el-form .code_box img {
  height: 0.533rem;
}

.register .register_box .register_box_form .el-form .el-form-item {
  margin-bottom: 0.2rem;
}

.register .register_box .register_box_form .el-form .el-form-item__label {
  width: 100% !important;
  text-align: left;
  font-size: 0.16rem;
  color: #000;
}

.register .register_box .register_box_form .el-form .el-form-item__content {
  margin-left: 0 !important;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-input__inner {
  height: 0.533rem;
  background-color: transparent;
  border-radius: 0.107rem;
  border: 0.013rem solid #000;
  color: #000;
}

.register
  .register_box
  .register_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-webkit-input-placeholder {
  color: #c4c4c4;
}

.register
  .register_box
  .register_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-moz-placeholder {
  color: #c4c4c4;
}

.register
  .register_box
  .register_box_form
  .el-form
  .el-form-item__content
  .el-input__inner:-ms-input-placeholder {
  color: #c4c4c4;
}

.register
  .register_box
  .register_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-ms-input-placeholder {
  color: #c4c4c4;
}

.register
  .register_box
  .register_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::placeholder {
  color: #c4c4c4;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-input__icon {
  display: none;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.register .register_box .register_box_form .el-form .el-form-item__content .icon-style {
  font-size: 0.213rem;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-input__inner:focus {
  border: 0.013rem solid #355dff;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-button {
  font-size: 0.267rem;
  height: 0.64rem;
  width: 100%;
  background: #000;
  border: 0;
  border-radius: 0.32rem;
  color: #fff;
}

.register .register_box .register_box_form .el-form .el-form-item__content .el-form-item__error {
  position: static;
}

.register .register_box .register_box_form .el-form .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}

.register .register_box .register_box_form .el-form .agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
  color: #808191;
}

.register .register_box .register_box_form .el-form .agreement .select_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .register_box .register_box_form .el-form .agreement .select_card li {
  padding: 0.107rem 0.213rem;
  margin-right: 0.213rem;
  font-weight: 500;
  border-radius: 0.053rem;
  border: 0.013rem solid transparent;
  font-size: 0.213rem;
}

.register .register_box .register_box_form .el-form .agreement .select_card .card_active {
  color: #355dff;
  border: 0.013rem solid #355dff;
}

.register .register_box .register_box_form .el-form .agreement .phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content {
  margin-left: 0 !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select {
  margin-right: 0.267rem;
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-webkit-input-placeholder {
  color: var(--text);
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-moz-placeholder {
  color: var(--text);
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner:-ms-input-placeholder {
  color: var(--text);
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-ms-input-placeholder {
  color: var(--text);
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::placeholder {
  color: var(--text);
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-input {
  width: 1.6rem;
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-check,
.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-close {
  display: none;
}

.register
  .register_box
  .register_box_form
  .el-form
  .agreement
  .phone_number
  .el-form-item__content
  .el-input--medium {
  width: 3.6rem;
}

.register .register_box .register_box_form .el-form .agreement p {
  font-size: 0.16rem;
  font-weight: 500;
  line-height: 0.213rem;
  margin: 0.133rem 0;
}

.register .register_box .register_box_form .el-form .agreement input {
  width: 0.213rem;
  height: 0.213rem;
  margin-right: 0.067rem;
}

.register .register_box .register_box_form .el-form .agreement a {
  font-size: 0.16rem;
}

.register .register_box .register_box_form .agree {
  padding: 0.267rem 0;
  color: #383838;
  font-size: 0.16rem;
  font-weight: 400;
}

.register .register_box .register_box_form .agree span {
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.register .register_box .register_box_form .log {
  font-size: 0.187rem;
  font-weight: 400;
  color: #383838;
  text-align: center;
}

.register .register_box .register_box_form .log a {
  font-size: 0.187rem;
  font-weight: 700;
  color: #000;
}

.register .register_box .register_box_form .text-sever {
  font-size: 0.187rem;
  text-align: center;
  color: #000;
  padding-top: 0.267rem;
}

.register .register_box .register_box_form .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register .register_box .register_box_form .code_box .el-button {
  width: 1.88rem;
  height: 0.533rem;
  border-radius: 0.107rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
}

.register .register_box .register_box_form .code_box .el-form-item {
  width: 100%;
}

.mobile_register_box {
  --registrationSelection: #c99418;
}

.is_dark .mobile_register_box {
  --registrationSelection: #ffe072;
}

.mobile_register_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  min-height: 95vh;
  padding: 0 0.4rem;
}

.mobile_register_box .register_content {
  width: 100%;
  padding-top: 1.307rem;
  font-size: 0.213rem;
  color: var(--onsurface);
}

.mobile_register_box .register_content a {
  font-weight: 400;
}

.mobile_register_box .register_content h2 {
  font-size: 0.64rem;
  color: #000;
  padding-bottom: 0.533rem;
}

.mobile_register_box .register_content .agree {
  color: #000;
  font-size: 0.293rem;
  font-weight: 400;
  padding-bottom: 0.667rem;
}

.mobile_register_box .register_content .agree span {
  color: #000;
  font-size: 0.293rem;
  font-weight: 400;
  font-weight: 700;
  text-decoration: underline;
}

.mobile_register_box .register_content .groupTestOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.667rem;
}

.mobile_register_box .register_content .groupTestOption li {
  color: #979797;
  height: 0.96rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.267rem;
  padding: 0 0.267rem;
  font-size: 0.373rem;
  font-weight: 400;
}

.mobile_register_box .register_content .groupTestOption .selected {
  color: #000;
  border-bottom: 0.04rem solid #000;
}

.mobile_register_box .register_content .el-form .phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile_register_box .register_content .el-form .phoneNumber .country {
  width: 35%;
  margin-right: 0.133rem;
}

.mobile_register_box .register_content .el-form .phoneNumber .el-form-item {
  width: 65%;
}

.mobile_register_box .register_content .el-form .el-form-item {
  margin-bottom: 0.48rem;
}

.mobile_register_box .register_content .el-form .el-form-item__label {
  width: 100% !important;
  text-align: left;
  font-size: 0.293rem;
  color: var(--text);
}

.mobile_register_box .register_content .el-form .country .el-input__inner {
  border: 0.013rem solid #000;
}

.mobile_register_box .register_content .el-form .el-form-item__content {
  margin-left: 0 !important;
}

.mobile_register_box .register_content .el-form .el-form-item__content .el-input__inner {
  height: 1.093rem;
  width: 100%;
  background: transparent;
  border-radius: 0.187rem;
  border: 0.013rem solid #000;
  color: #000;
  font-size: 0.373rem;
}

.mobile_register_box
  .register_content
  .el-form
  .el-form-item__content
  .el-input__inner::-webkit-input-placeholder {
  color: gray;
}

.mobile_register_box
  .register_content
  .el-form
  .el-form-item__content
  .el-input__inner::-moz-placeholder {
  color: gray;
}

.mobile_register_box
  .register_content
  .el-form
  .el-form-item__content
  .el-input__inner:-ms-input-placeholder {
  color: gray;
}

.mobile_register_box
  .register_content
  .el-form
  .el-form-item__content
  .el-input__inner::-ms-input-placeholder {
  color: gray;
}

.mobile_register_box
  .register_content
  .el-form
  .el-form-item__content
  .el-input__inner::placeholder {
  color: gray;
}

.mobile_register_box .register_content .el-form .el-form-item__content .el-input__icon {
  display: none;
}

.mobile_register_box .register_content .el-form .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile_register_box .register_content .el-form .el-form-item__content .icon-style {
  font-size: 0.427rem;
}

.mobile_register_box .register_content .el-form .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 1.093rem;
  border-radius: 0.187rem;
  font-size: 0.48rem;
  background: #000;
  border: 0;
}

.mobile_register_box .register_content .el-form .el-form-item__content .el-form-item__error {
  position: static;
  font-size: 0.293rem;
  font-weight: 400;
}

.mobile_register_box .register_content .el-form .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}

.mobile_register_box .register_content .phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mobile_register_box .register_content .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

.mobile_register_box .register_content .code_box .el-form-item {
  padding-right: 0.267rem;
}

.mobile_register_box .register_content .code_box .el-button {
  font-size: 0.32rem;
  width: 2.213rem;
  height: 1.093rem;
  border-radius: 0.187rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  overflow: hidden;
}

.mobile_register_box .register_content .code_box .el-form-item {
  width: 6.173rem;
}

.mobile_register_box .register_content .code_box img {
  height: 1.067rem;
}

.mobile_register_box .register_content .agreement .el-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: bottom;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  color: #808191;
  margin: 1.867rem 0 0.467rem 0;
  white-space: pre-wrap !important;
}

.mobile_register_box .register_content .agreement .el-checkbox .el-checkbox__label {
  line-height: 0.44rem;
  font-size: 0.32rem;
}

.mobile_register_box .register_content .agreement .el-checkbox .el-checkbox__label a {
  font-size: 0.32rem;
}

.mobile_register_box .register_content .agreement .el-checkbox .el-checkbox__inner {
  width: 0.267rem;
  height: 0.267rem;
  background: transparent;
}

.mobile_register_box .register_content .agreement .el-checkbox .el-checkbox__inner:after {
  height: 0.133rem;
  left: 0.107rem;
}

.mobile_register_box .register_content .agreement a {
  font-size: 0.16rem;
}

.mobile_register_box .register_content .log {
  text-align: center;
  margin: 1.067rem 0;
}

.mobile_register_box .register_content .log span {
  font-size: 0.347rem;
  color: #808191;
}

.mobile_register_box .register_content .log a {
  font-size: 0.373rem;
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

.mobile_register_box .register_content .text-sever {
  font-size: 0.347rem;
  text-align: center;
  color: #000;
}
