.van-popup {
    background: rgb(123, 123, 124);
}

.van-popup .exit {
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 0.667rem 0.667rem 0px 0px;
}

.van-popup .exit i {
    font-size: 0.533rem;
}

.van-popup .canvas_bg {
    height: 13.333rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.van-popup .canvas_bg .canvas {
    width: 8.8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0.027rem 0.027rem 0.053rem 0.027rem;
}

.van-popup .canvas_bg .canvas .canvas_top {
    width: 8.8rem;
    height: 8.533rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: url(/src/assets/image/Groupfenxiang.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 0.8rem;
}

.van-popup .canvas_bg .canvas .canvas_top > h6 {
    line-height: 2;
}

.van-popup .canvas_bg .canvas .canvas_top > h6 p, .van-popup .canvas_bg .canvas .canvas_top > h6 span {
    font-size: 0.667rem !important;
    font-weight: 700 !important;
}

.van-popup .canvas_bg .canvas .canvas_top p {
    text-align: center;
}

.van-popup .canvas_bg .canvas .canvas_top span {
    color: rgb(255, 255, 255) !important;
}

.van-popup .canvas_bg .canvas .canvas_top .canvas-title {
    font-size: 0.64rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding-top: 0.8rem;
    width: 80%;
}

.van-popup .canvas_bg .canvas .canvas_top .canvas-hub {
    padding: 0.4rem 0.653rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.van-popup .canvas_bg .canvas .canvas_top .canvas-hub h6 {
    font-size: 0.48rem;
    font-weight: 400;
    color: rgb(164, 101, 9);
    width: 2.427rem;
    line-height: 2;
}

.van-popup .canvas_bg .canvas .canvas_top .canvas-hub img {
    width: 5.2rem;
    height: 4.533rem;
    object-fit: cover;
}

.van-popup .canvas_bg .canvas .canvas_bottom {
    display: flex;
    height: 3.107rem;
    width: 8.8rem;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul, .van-popup .canvas_bg .canvas .canvas_bottom ul li:first-child {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:first-child img {
    width: 1.333rem;
    height: 1.333rem;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:first-child p {
    margin-left: 0.2rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:first-child p span:first-child {
    font-size: 0.56rem;
    font-weight: 700;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:first-child p > span:last-of-type {
    font-size: 0.32rem;
    font-weight: 400;
    width: 2.667rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(0, 0, 0);
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:nth-child(2) {
    width: 2.667rem;
    height: 2.667rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.16rem;
}

.van-popup .canvas_bg .canvas .canvas_bottom ul li:nth-child(2) img {
    width: 2.4rem;
    height: 2.4rem;
}

.van-popup .copy_box {
    height: 6.667rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.van-popup .copy_box ul {
    color: rgb(0, 0, 0);
    width: 9.04rem;
    font-size: 0.32rem;
}

.van-popup .copy_box ul li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.36rem;
    padding: 0px 0.533rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.267rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.027rem 0.053rem;
    height: 0.96rem;
}

.van-popup .copy_box ul li .el-icon-document-copy {
    padding-left: 0.213rem;
}

.van-popup .copy_box button {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.van-popup .copy_box button i {
    font-size: 0.48rem;
}

.el-dialog__wrapper {
    background: rgb(123, 123, 124);
}

.el-dialog__wrapper .el-dialog {
    background: rgb(123, 123, 124);
    box-shadow: none;
    margin-top: 0px !important;
}

.el-dialog__wrapper .exit {
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding: 0px 0.667rem 0px 0px;
}

.el-dialog__wrapper .exit i {
    font-size: 0.533rem;
}

.el-dialog__wrapper .canvas_bg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.el-dialog__wrapper .canvas_bg .canvas {
    width: 6.133rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0.027rem 0.027rem 0.053rem 0.027rem;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_top {
    width: 6.133rem;
    height: 7.2rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: url(/src/assets/image/Groupfenxiang.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_top .canvas-title {
    font-size: 0.427rem;
    font-weight: 400;
    color: rgb(159, 83, 0);
    text-indent: 1em;
    padding-top: 0.8rem;
    width: 80%;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_top .canvas-hub {
    font-size: 0.427rem;
    font-weight: 400;
    text-align: left;
    padding-top: 0.667rem;
    width: 80%;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_top .canvas-hub p, .el-dialog__wrapper .canvas_bg .canvas .canvas_top .canvas-hub span {
    text-align: center;
    font-size: 0.427rem !important;
    font-weight: 600 !important;
    color: rgb(255, 255, 255) !important;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom {
    display: flex;
    height: 1.773rem;
    width: 6.133rem;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul {
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul, .el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:first-child {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:first-child img {
    width: 0.8rem;
    height: 0.8rem;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:first-child p {
    margin-left: 0.2rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:first-child p span:first-child {
    font-size: 0.427rem;
    font-weight: 700;
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:first-child p > span:last-of-type {
    font-size: 0.24rem;
    font-weight: 400;
    width: 2.667rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(0, 0, 0);
}

.el-dialog__wrapper .canvas_bg .canvas .canvas_bottom ul li:nth-child(2) img {
    width: 1.333rem;
    height: 1.333rem;
}

.el-dialog__wrapper .copy_box {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0.4rem;
}

.el-dialog__wrapper .copy_box ul {
    color: rgb(0, 0, 0);
    width: 6.133rem;
    font-size: 0.24rem;
}

.el-dialog__wrapper .copy_box ul li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.36rem;
    padding: 0px 0.533rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.267rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.027rem 0.053rem;
    height: 0.693rem;
}

.el-dialog__wrapper .copy_box ul li .el-icon-document-copy {
    padding-left: 0.213rem;
}

.el-dialog__wrapper .copy_box button {
    width: 1.067rem;
    height: 1.067rem;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.el-dialog__wrapper .copy_box button i {
    font-size: 0.347rem;
}

.invite {
    background-color: rgb(255, 255, 255);
}

.invite .nodata {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 1.333rem 0px;
}

.invite .nodata h6 {
    color: gray;
}

.invite .nodata img {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: cover;
}

.invite .invite-header-box {
    background-position: 50% center;
    background-size: cover;
}

.invite .invite-header-box .invite-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.067rem 1.333rem;
    background-color: rgb(0, 0, 0);
}

.invite .invite-header-box .invite-header .neck {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.invite .invite-header-box .invite-header .neck .invitationPromote {
    display: flex;
}

.invite .invite-header-box .invite-header .neck .invitationPromote p {
    font-size: 0.56rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.invite .invite-header-box .invite-header .neck .enterInvitationGet {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.invite .invite-header-box .invite-header .neck .enterInvitationGet img {
    width: 2.36rem;
    height: 2.347rem;
}

.invite .invite-header-box .invite-header .neck .enterInvitationGet p {
    font-size: 0.373rem;
    font-weight: 400;
    color: rgb(164, 101, 9);
}

.invite .invite-header-box .invite-header .neck .enterInvitationGet p span {
    font-weight: 700;
    font-size: 0.373rem !important;
    color: rgb(255, 255, 255) !important;
}

.invite .invite-header-box .invite-header .neck .enterInvitationGet p > p:nth-of-type(2) span {
    font-size: 0.427rem !important;
    font-weight: 400;
}

.invite .invite-header-box .invite-header .neck .el-button {
    width: 2.667rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.32rem;
    font-size: 0.293rem;
    margin-top: 0.2rem;
}

.invite .invite-header-box .invite-header .invitation_copy_box {
    width: 8.453rem;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul {
    width: 8rem;
    font-size: 0.32rem;
    border-radius: 0.16rem;
    border: 0.013rem solid rgb(216, 216, 216);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li {
    padding: 0.267rem;
    color: rgb(255, 255, 255);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li, .invite .invite-header-box .invite-header .invitation_copy_box ul li > div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.107rem;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li > div {
    width: 85%;
    padding: 0.133rem;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li > div p {
    color: rgb(216, 216, 216);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .input-box {
    width: 100%;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .input-box .el-input {
    width: 75%;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .memberUserName {
    width: 100%;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .memberUserName > span:first-of-type {
    color: rgb(216, 216, 216);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li > div:last-of-type .currentDomainName {
    width: 4rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .el-icon-copy-document {
    cursor: pointer;
    border-radius: 0.16rem;
    color: rgb(188, 255, 47);
    display: inline-block;
    padding: 0.267rem;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .el-input__inner {
    border: 0.013rem solid rgb(216, 216, 216);
    border-radius: 0.16rem;
    background-color: transparent;
    padding: 0.333rem 0.267rem;
    color: rgb(255, 255, 255);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .el-input__inner::-webkit-input-placeholder {
    color: rgb(153, 155, 153);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .el-input__inner::placeholder {
    color: rgb(153, 155, 153);
}

.invite .invite-header-box .invite-header .invitation_copy_box ul li .el-button {
    width: auto;
    height: auto;
    border-radius: 0.16rem;
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 0.333rem;
    font-size: 0.293rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.invite .invite-header-box .invite-header .invitation_copy_box ul > li:last-of-type {
    margin: 0px;
}

.invite .commission {
    padding: 0.8rem 1.333rem;
}

.invite .commission > h6 {
    font-size: 0.48rem;
    font-weight: 400;
}

.invite .commission .commission-list {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.267rem 0.8rem;
    background-color: rgb(245, 247, 248);
    border-radius: 0.16rem;
    margin-top: 0.267rem;
}

.invite .commission .commission-list li {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}

.invite .commission .commission-list li > h6:first-of-type {
    font-size: 0.32rem;
    font-weight: 400;
    padding-top: 0.267rem;
    color: rgb(118, 128, 133);
}

.invite .commission .commission-list li > h6:last-of-type {
    color: rgb(0, 0, 0);
    font-size: 0.56rem;
    font-weight: 400;
    padding-top: 0.267rem;
}

.invite .invite-Step-title {
    font-size: 0.48rem;
    font-weight: 400;
    padding: 0.4rem 1.333rem;
}

.invite .invite-Step {
    padding: 0.4rem 1.333rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.invite .invite-Step li {
    width: 5.6rem;
}

.invite .invite-Step li div {
    margin: 0.267rem;
}

.invite .invite-Step li div > h6 {
    padding: 0.267rem 0px;
    color: rgb(0, 0, 0);
}

.invite .invite-Step li div p {
    font-size: 0.267rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

.invite .invite-rule {
    padding: 0.4rem 1.333rem;
}

.invite .invite-rule .invite-rule-box {
    background: rgb(245, 247, 248);
    border-radius: 0.16rem;
}

.invite .invite-rule .invite-rule-box > div {
    padding: 0.4rem 0.8rem;
}

.invite .invite-rule .invite-rule-box > div > div {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.invite .invite-rule .invite-rule-box > div > div > h6:first-of-type {
    font-size: 0.48rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

.invite .invite-rule .invite-rule-box > div > div > h6:first-of-type .el-icon-document-remove {
    color: rgb(196, 196, 196);
    font-size: 0.48rem;
}

.invite .invite-rule .invite-rule-box > div > h6:first-of-type {
    font-size: 0.267rem;
    font-weight: 400;
    padding: 0.267rem 0px 0.4rem;
}

.invite .invite-rule .invite-rule-box > div > h6:last-of-type {
    font-size: 0.267rem;
    font-weight: 400;
}

.invite .invite-rule .invite-rule-box > div p {
    font-size: 0.267rem;
    font-weight: 400;
    color: rgb(151, 151, 151);
}

.invite .Overview {
    font-size: 0.48rem;
    font-weight: 400;
    color: var(--text);
    padding: 0.667rem 1.333rem;
}

.invite .invite-grade {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.8rem;
}

.invite .invite-grade li {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.invite .invite-grade li img {
    width: 2rem;
}

.invite .invite-grade li span {
    font-size: 0.427rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.invite .invite-list-box {
    padding: 0.933rem 1.333rem;
}

.invite .invite-list-box .invite-border {
    border-radius: 0.16rem;
}

.invite .invite-list-box .invite-border .invite-myrewards {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.invite .invite-list-box .invite-border .invite-myrewards h6 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.48rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.invite .invite-list-box .invite-border .invite-myrewards .el-select .el-input__inner {
    background-color: rgb(245, 247, 248);
    border: none;
    border-radius: 0.16rem;
    font-size: 0.187rem;
    font-weight: 400;
    padding: 0.267rem;
    color: rgb(0, 0, 0);
}

.invite .invite-list-box .invite-border .invite-myrewards .el-select .el-icon-arrow-up::before {
    content: "";
}

.invite .invite-list-box .invite-border .invite-myrewards .el-select .el-select__caret {
    color: rgb(0, 0, 0);
}

.invite .invite-list-box .invite-border .invite-myrewards .el-select .el-input__prefix {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.187rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.invite .invite-list-box .invite-border .my_rewards_title {
    margin: 0.133rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 0.16rem;
    background-color: rgb(245, 247, 248);
}

.invite .invite-list-box .invite-border .my_rewards_title > li {
    width: 4rem;
    font-size: 0.32rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    padding: 0.2rem 0.133rem;
}

.invite .invite-list-box .invite-border .my_rewards_title > li:nth-of-type(2), .invite .invite-list-box .invite-border .my_rewards_title > li:nth-of-type(3), .invite .invite-list-box .invite-border .my_rewards_title > li:nth-of-type(4) {
    text-align: center;
}

.invite .invite-list-box .invite-border .my_rewards_title > li:nth-of-type(5) {
    width: auto;
}

.invite .invite-list-box .invite-border .my_invitation_record_content {
    font-size: 0.2rem;
    margin: 0.133rem;
    min-height: 4rem;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.333rem;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li img {
    width: 0.653rem;
    height: 0.68rem;
    object-fit: cover;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li p {
    width: 4rem;
    text-align: center;
    font-size: 0.32rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

.invite .invite-list-box .invite-border .my_invitation_record_content li > p:first-of-type {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li > p:first-of-type .vip {
    color: rgb(255, 141, 26);
    padding-left: 0.133rem;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li .receive-but {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: auto;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li .receive-but .el-button {
    background-color: rgb(0, 0, 0);
    border-radius: 0.667rem;
    padding: 0.133rem 0.333rem;
    border: none;
}

.invite .invite-list-box .invite-border .my_invitation_record_content li .receive-but .el-button span {
    font-size: 0.24rem;
    color: rgb(255, 255, 255);
}

.invite .invite-list-box .invite-border .my_invitation_record_content li .receive-but .received {
    background-color: rgb(216, 216, 216);
}

.invite .invite-list-box .invite-border .pagination {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.667rem;
}

.mobile_invite_box {
    --inviteBox: #fff;
    --copyBg: #f4f6f8;
    --font: #000;
    --button: #000;
    --buttonFont: #fff;
    --SwitchBg: #161a1e;
}

.is_dark .mobile_invite_box {
    --inviteBox: #000;
    --copyBg: #000;
    --font: #fff;
    --button: #fff;
    --buttonFont: #000;
    --SwitchBg: #161a1e;
}

.mobile_invite_box {
    background: var(--inviteBox);
}

.mobile_invite_box .t-Switch {
    margin-top: 0.267rem;
    display: flex;
    background-color: var(--SwitchBg);
    border-radius: 0.16rem;
    padding: 0.133rem;
}

.mobile_invite_box .t-Switch span {
    width: 50%;
    color: var(--font);
    font-size: 0.373rem;
    font-weight: 400;
    text-align: center;
    padding: 0.267rem 0px;
}

.mobile_invite_box .t-Switch .active-span {
    background: rgb(40, 49, 57);
    border-radius: 0.16rem;
}

.mobile_invite_box .inviteTop {
    position: relative;
    width: 100vw;
    height: 1.2rem;
    font-size: 0.48rem;
    font-weight: 400;
    background: rgb(19, 20, 26);
    line-height: 1.2rem;
    text-align: center;
}

.mobile_invite_box .inviteTop span:first-child {
    font-size: 0.64rem;
    position: absolute;
    left: 0.133rem;
    top: 0.267rem;
}

.mobile_invite_box .inviteContent {
    padding: 0.2rem 0px 0px;
}

.mobile_invite_box .inviteContent, .mobile_invite_box .inviteContent .neck {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .neck {
    width: 100%;
    margin-bottom: 0.667rem;
    background-position: 50% center;
    background-size: cover;
    border-radius: 0.213rem;
}

.mobile_invite_box .inviteContent .neck > h6 {
    text-align: center;
    padding-top: 0.4rem;
    line-height: 2;
}

.mobile_invite_box .inviteContent .neck > h6 p, .mobile_invite_box .inviteContent .neck > h6 span {
    font-size: 0.667rem !important;
    font-weight: 700 !important;
    color: var(--font) !important;
}

.mobile_invite_box .inviteContent .neck .neck-title {
    font-size: 0.64rem;
    font-weight: 400;
    color: var(--font);
    padding: 0.733rem 0.653rem 0px;
}

.mobile_invite_box .inviteContent .neck .neck-hub {
    padding: 0.4rem 0.653rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mobile_invite_box .inviteContent .neck .neck-hub h6 {
    font-size: 0.48rem;
    font-weight: 400;
    color: rgb(164, 101, 9);
    width: 2.427rem;
    line-height: 2;
}

.mobile_invite_box .inviteContent .neck .neck-hub img {
    width: 5.2rem;
    height: 4.533rem;
    object-fit: cover;
}

.mobile_invite_box .inviteContent .neck .commission {
    width: 100%;
    padding: 0.667rem 0.267rem 0px;
    background: rgba(217, 217, 217, 0.6);
    border-radius: 0.213rem;
}

.mobile_invite_box .inviteContent .neck .commission > h6 {
    font-size: 0.48rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.mobile_invite_box .inviteContent .neck .commission > h6 img {
    width: 0.693rem;
    height: 0.68rem;
}

.mobile_invite_box .inviteContent .neck .commission .commission-list {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.533rem 0px;
}

.mobile_invite_box .inviteContent .neck .commission .commission-list li {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .neck .commission .commission-list li > h6:first-of-type {
    color: rgb(255, 199, 0);
    text-shadow: rgb(255, 122, 0) -0.013rem -0.013rem 0px, rgb(255, 122, 0) 0.013rem -0.013rem 0px, rgb(255, 122, 0) -0.013rem 0.013rem 0px, rgb(255, 122, 0) 0.013rem 0.013rem 0px;
    font-size: 0.427rem;
    font-weight: 400;
    text-align: center;
}

.mobile_invite_box .inviteContent .neck .commission .commission-list li > h6:last-of-type {
    color: rgb(0, 0, 0);
    font-size: 0.32rem;
    font-weight: 400;
    padding-top: 0.267rem;
    text-align: center;
}

.mobile_invite_box .inviteContent .invitation_bg {
    border-radius: 0.213rem;
    width: 100%;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process {
    margin-bottom: 0.92rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process h3 {
    height: 0.733rem;
    font-size: 0.48rem;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content {
    padding: 0.533rem 0px;
    border-radius: 0.267rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul li {
    width: 100%;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0.267rem 0px;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul li .sequence {
    display: block;
    font-size: 0.32rem;
    line-height: 0.48rem;
    text-align: center;
    border-radius: 0.267rem;
    color: rgb(255, 255, 255);
    width: 0.48rem;
    height: 0.48rem;
    background: rgb(0, 0, 0);
    margin-right: 0.2rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul li div {
    width: 80%;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul li div h6 {
    font-size: 0.427rem;
    color: var(--font);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_process .process_content ul li div p {
    font-size: 0.347rem;
    line-height: 2;
    color: rgb(145, 145, 145);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box {
    padding: 0.467rem 0px 0.627rem;
    margin-bottom: 0.627rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul {
    color: rgb(0, 0, 0);
    font-size: 0.32rem;
    margin-bottom: 0.667rem;
    width: 100%;
    padding: 0px 0.267rem;
    border: 0.013rem solid rgb(140, 140, 140);
    border-radius: 0.16rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.36rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li > div {
    width: 85%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .input-box {
    width: 75%;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .memberUserName {
    width: 100%;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .memberUserName > span:first-of-type {
    color: rgb(140, 140, 140);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .el-icon-copy-document {
    color: rgb(188, 255, 47);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 0.96rem;
    height: 0.96rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.107rem;
    font-size: 0.56rem;
    margin-left: 0.067rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li p {
    color: rgb(140, 140, 140);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li span {
    color: var(--font);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-cell {
    border: 0.013rem solid rgb(140, 140, 140);
    border-radius: 0.16rem;
    background-color: transparent;
    padding: 0.133rem 0.267rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-cell .van-field__control {
    color: var(--font);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-cell::-webkit-input-placeholder {
    color: rgb(153, 155, 153);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-cell::placeholder {
    color: rgb(153, 155, 153);
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-button {
    width: auto;
    height: auto;
    border-radius: 0.16rem;
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 0.333rem;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul li .van-button span {
    font-size: 0.373rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box ul > li:nth-of-type(2) div span {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile_invite_box .inviteContent .invitation_bg .invitation_copy_box button {
    width: 90%;
    border-radius: 0.16rem;
    background: var(--button);
    font-size: 0.427rem;
    color: var(--buttonFont);
    border: 0px;
    padding: 0.133rem 0px;
}

.mobile_invite_box .inviteContent .rule {
    width: 100%;
    color: var(--font);
    padding: 0.48rem 0px;
    border-radius: 0.16rem;
    margin-top: 0.4rem;
}

.mobile_invite_box .inviteContent .rule .rule_title {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .rule .rule_title .el-icon-document-remove {
    font-size: 0.48rem;
    color: rgb(255, 141, 26);
}

.mobile_invite_box .inviteContent .rule .rule_title span:nth-child(2) {
    font-size: 0.48rem;
    font-weight: 400;
}

.mobile_invite_box .inviteContent .rule .rule_title .problem {
    font-size: 0.32rem;
    color: rgb(255, 141, 26);
}

.mobile_invite_box .inviteContent .rule .rule_content {
    margin-top: 0.2rem;
}

.mobile_invite_box .inviteContent .rule .rule_content p {
    font-size: 0.427rem;
}

.mobile_invite_box .inviteContent .rule .rule_content a {
    margin-top: 0.48rem;
    color: rgb(230, 141, 4);
}

.mobile_invite_box .inviteContent .rule .rule_level {
    margin-top: 0.773rem;
}

.mobile_invite_box .inviteContent .rule .rule_level ul {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mobile_invite_box .inviteContent .rule .rule_level ul li {
    font-size: 0.24rem;
    margin-top: 0.667rem;
    width: 40%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.mobile_invite_box .inviteContent .rule .rule_level ul li img {
    width: 2rem;
    object-fit: cover;
    margin-bottom: 0.16rem;
}

.mobile_invite_box .inviteContent .rule .rule_level ul li span {
    font-size: 0.32rem;
}

.mobile_invite_box .inviteContent .invite-myrewards {
    width: 100%;
}

.mobile_invite_box .inviteContent .invite-myrewards h6 {
    font-size: 0.507rem;
    font-weight: 400;
    color: var(--font);
    padding: 0px 0.067rem;
}

.mobile_invite_box .inviteContent .invite-myrewards .invite-filter {
    background-color: rgb(255, 255, 255);
    border-radius: 0.667rem;
    padding: 0.067rem 0.133rem;
    color: rgb(0, 0, 0);
    font-size: 0.293rem;
}

.mobile_invite_box .inviteContent .invite-myrewards .invite-filter i {
    font-size: 0.427rem;
}

.mobile_invite_box .inviteContent .my-award-history {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 0.16rem 0.16rem 0px 0px;
    margin-top: 0.267rem;
}

.mobile_invite_box .inviteContent .my-award-history .rewardToggle {
    padding: 0.933rem 0px 0.133rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.mobile_invite_box .inviteContent .my-award-history .rewardToggle li {
    font-size: 0.373rem;
    font-weight: 400;
    color: rgb(153, 155, 153);
    text-align: center;
}

.mobile_invite_box .inviteContent .my-award-history .rewardToggle .isselected {
    color: var(--font);
}

.mobile_invite_box .inviteContent .van-list {
    width: 100%;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content {
    font-size: 0.2rem;
    width: 100%;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(42, 49, 65);
    padding: 0.4rem 0px;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li img {
    width: 0.827rem;
    height: 0.827rem;
    object-fit: cover;
    margin-right: 0.067rem;
    border-radius: 50%;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li div {
    text-align: center;
    font-size: 0.32rem;
    font-weight: 400;
    color: var(--blackColor);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li .el-button {
    background-color: rgb(255, 255, 255);
    border-radius: 0.667rem;
    padding: 0.133rem 0.333rem;
    border: none;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li .el-button span {
    font-size: 0.347rem;
    color: rgb(0, 0, 0);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li .received {
    background-color: rgb(125, 124, 129);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li span {
    color: var(--blackColor);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:first-of-type {
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 35%;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:first-of-type .username {
    display: inline-block;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:first-of-type .create-time {
    color: rgb(125, 124, 129);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:first-of-type .vip {
    color: rgb(0, 0, 0);
    margin-left: 0.133rem;
    background-color: rgb(255, 141, 26);
    border-radius: 0.107rem;
    padding: 0.027rem 0.067rem;
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:nth-of-type(2) span {
    text-align: right;
    color: rgb(1, 189, 141);
}

.mobile_invite_box .inviteContent .van-list .my_invitation_record_content li > div:nth-of-type(2) .create-time {
    color: rgb(125, 124, 129);
}

.mobile_invite_box .inviteContent .my_rewards {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 0px 0px 0.16rem 0.16rem;
}

.mobile_invite_box .inviteContent .my_rewards .my_rewards_title {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 0.013rem solid rgb(53, 53, 53);
    width: 100%;
}

.mobile_invite_box .inviteContent .my_rewards .my_rewards_title > li {
    width: 33%;
    padding: 0.2rem 0px;
    font-size: 0.32rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.mobile_invite_box .inviteContent .my_rewards .my_rewards_title > li:nth-of-type(2) {
    text-align: center;
}

.mobile_invite_box .inviteContent .my_rewards .my_rewards_title > li:nth-of-type(3) {
    text-align: right;
}

.mobile_invite_box .inviteContent .my_rewards .my_invitation_record {
    width: 100%;
    margin: 0.693rem 0px;
}

.mobile_invite_box .inviteContent .my_rewards .my_invitation_record h3 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 0.48rem;
    font-weight: 400;
    margin-bottom: 0.787rem;
}

.mobile_invite_box .invitation-record .my_rewards_title > li:last-of-type {
    text-align: right !important;
}

.mobile_invite_box .invitation-record .van-list .my_invitation_record_content li div {
    width: 50%;
}

.mobile_invite_box .invitation-record .van-list .my_invitation_record_content li > div:last-of-type {
    text-align: right;
}
