.navPopup {
  --navPopupBg: #f6f8fa;
  --navPopupBox: #fff;
  --loginBg: #ccc;
}
.is_dark .navPopup {
  --navPopupBg: #000;
  --navPopupBox: #0f1215;
  --loginBg: #161a1e;
}
.van-popup--right {
  margin-top: 6.5%;
}
.navPopup .el-dialog__headerbtn:focus .el-dialog__close,
.navPopup .el-dialog__headerbtn:hover .el-dialog__close {
  color: #000;
}
.navPopup .el-dialog {
  border-radius: 0.16rem;
}
.navPopup .content,
.navPopup .el-dialog__body {
  padding: 0 0.267rem;
}
.navPopup .content .content-h {
  font-size: 0.507rem;
  color: #000;
  font-weight: 700;
}
.navPopup .content .content-p {
  color: #929899;
  font-size: 0.213rem;
  font-weight: 400;
  padding: 0.267rem 0;
}
.navPopup .content .Verification {
  color: #000;
  font-size: 0.24rem;
  font-weight: 400;
}
.navPopup .content .el-form {
  margin: 0.267rem 0;
}
.navPopup .content .el-form-item__content {
  margin-left: 0 !important;
}
.navPopup .content .el-form-item__content .el-input__inner {
  height: 0.693rem;
  width: 100%;
  background: transparent;
  border-radius: calc(infinity * 0.013rem);
  border: 0;
  color: #000;
  background-color: #f4f5f7;
  font-size: 0.24rem;
}
.navPopup .content .el-form-item__content .el-input__inner::-webkit-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-moz-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner:-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__icon {
  display: none;
}
.navPopup .content .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navPopup .content .el-form-item__content .icon-style {
  font-size: 0.427rem;
}
.navPopup .content .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 0.693rem;
  border-radius: 0.187rem;
  font-size: 0.253rem;
  background: #000;
  border: 0;
}
.navPopup .content .el-form-item__content .el-form-item__error {
  position: static;
  font-size: 0.2rem;
  font-weight: 400;
}
.navPopup .content .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}
.navPopup .content .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}
.navPopup .content .code_box .el-form-item {
  padding-right: 0;
}
.navPopup .content .code_box .el-button {
  font-size: 0.253rem;
  width: 2.213rem;
  height: 0.693rem;
  border-radius: 0.187rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  overflow: hidden;
}
.navPopup .content .code_box .el-form-item {
  width: 100%;
}
.navPopup .content .code_box img {
  height: 1.067rem;
}
.navPopup .content .b-login {
  width: 100%;
  padding-bottom: 0.267rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navPopup .content .b-login .el-button {
  width: 100%;
  height: 0.693rem;
  color: #fff;
  background: #000;
  border-radius: calc(infinity * 0.013rem);
  font-size: 0.253rem;
  font-weight: 700;
  border: 0;
}
.navPopup {
  --navPopupBg: #f6f8fa;
  --navPopupBox: #fff;
  --loginBg: #ccc;
}
.is_dark .navPopup {
  --navPopupBg: #000;
  --navPopupBox: #0f1215;
  --loginBg: #161a1e;
}
.van-popup--right {
  margin-top: 6.5%;
}
.navPopup .el-dialog__headerbtn:focus .el-dialog__close,
.navPopup .el-dialog__headerbtn:hover .el-dialog__close {
  color: #000;
}
.navPopup .el-dialog {
  border-radius: 0.16rem;
}
.navPopup .content,
.navPopup .el-dialog__body {
  padding: 0 0.267rem;
}
.navPopup .content .content-h {
  font-size: 0.507rem;
  color: #000;
  font-weight: 700;
}
.navPopup .content .content-p {
  color: #929899;
  font-size: 0.213rem;
  font-weight: 400;
  padding: 0.267rem 0;
}
.navPopup .content .Verification {
  color: #000;
  font-size: 0.24rem;
  font-weight: 400;
}
.navPopup .content .el-form {
  margin: 0.267rem 0;
}
.navPopup .content .el-form-item__content {
  margin-left: 0 !important;
}
.navPopup .content .el-form-item__content .el-input__inner {
  height: 0.693rem;
  width: 100%;
  background: transparent;
  border-radius: 0.187rem;
  border: 0.013rem solid #e0e0e0;
  color: #000;
  font-size: 0.24rem;
}
.navPopup .content .el-form-item__content .el-input__inner::-webkit-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-moz-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner:-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__icon {
  display: none;
}
.navPopup .content .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navPopup .content .el-form-item__content .icon-style {
  font-size: 0.427rem;
}
.navPopup .content .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 0.693rem;
  border-radius: 0.187rem;
  font-size: 0.253rem;
  background: #000;
  border: 0;
}
.navPopup .content .el-form-item__content .el-form-item__error {
  position: static;
  font-size: 0.2rem;
  font-weight: 400;
}
.navPopup .content .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}
.navPopup .content .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}
.navPopup .content .code_box .el-form-item {
  padding-right: 0.267rem;
}
.navPopup .content .code_box .el-button {
  font-size: 0.253rem;
  width: 2.213rem;
  height: 0.693rem;
  border-radius: 0.187rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  overflow: hidden;
}
.navPopup .content .code_box .el-form-item {
  width: 80%;
}
.navPopup .content .code_box img {
  height: 1.067rem;
}
.navPopup .content .b-login {
  width: 100%;
  padding-bottom: 0.267rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navPopup .content .b-login .el-button {
  width: 100%;
  height: 0.693rem;
  color: #fff;
  background: #000;
  border-radius: calc(infinity * 0.013rem);
  font-size: 0.253rem;
  font-weight: 700;
  border: 0;
}
.wallet_login_content {
  --middle: #ebebeb;
}
.is_dark .wallet_login_content {
  --middle: #f2f4f8;
}
.wallet_login_content p:first-child {
  color: var(--onsurface);
  font-size: 0.213rem;
  font-weight: 500;
  margin: 0 0.107rem 0 0.16rem;
}
.wallet_login_content .wallet_login {
  width: 100%;
  line-height: 0.64rem;
  font-size: 0.213rem;
}
.wallet_login_content .wallet_login > li:first-of-type {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.107rem;
  cursor: pointer;
}
.wallet_login_content .wallet_login > li:first-of-type img {
  width: 0.64rem;
  height: 0.64rem;
}
.wallet_login_content .wallet_login > li:first-of-type span {
  color: #888;
}
.wallet_login_content .wallet_login > li:nth-of-type(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.107rem;
  margin-top: 0.267rem;
}
.wallet_login_content .wallet_login > li:nth-of-type(2) img {
  width: 0.533rem;
  height: 0.533rem;
  margin: 0 0.067rem;
}
.wallet_login_content .wallet_login > li:nth-of-type(2) span {
  font-size: 0.267rem;
  color: #b8b3b3;
}
.wallet_login_content .wallet_login li:hover {
  background-color: var(--goldColor);
}
.wallet_login_content .wallet_login li:hover span {
  color: #fff;
}
.wallet_login_content .row {
  cursor: pointer;
  width: 100%;
  line-height: 0.64rem;
  font-weight: 500;
  font-size: 0.2rem;
  color: #888;
  border-radius: 0.107rem;
  margin: 0 auto 0.133rem;
  margin-top: 0.4rem;
}
.wallet_login_content .row .logo,
.wallet_login_content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.wallet_login_content .row .logo {
  background-color: #fff;
  margin-right: 0.16rem;
  width: 0.533rem;
  height: 0.533rem;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wallet_login_content .row img {
  width: 0.64rem;
  height: 0.64rem;
  margin-right: 0.267rem;
  border-radius: 0.16rem;
}
.wallet_login_content .row .middle {
  border-radius: 0.16rem;
  background-color: var(--middle);
  color: #000;
  padding: 0.107rem 0.267rem;
  font-size: 0.24rem;
}
.wallet_login_content .row .middle:hover {
  color: #000;
}
.wallet_login_content .row .middle .icon {
  width: 0.64rem;
  height: 0.64rem;
  margin-right: 0.267rem;
  border-radius: 0.16rem;
}
.wallet_login_content .row .right {
  color: #888;
}
.social_login_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social_login_content p:first-child {
  color: var(--onsurface);
  font-size: 0.213rem;
  font-weight: 500;
  margin: 0 0.107rem 0 0.16rem;
}
.country-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.country-selector .el-select {
  width: 100%;
  height: 100%;
}
.country-selector .el-select .el-input__prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.country-selector .el-select .el-input--medium {
  height: 100%;
}
.country-selector .el-select .el-input .el-input__inner {
  height: 100%;
  background-color: #fff;
  border-radius: 0.107rem;
}
.mobile-country-selector .el-select {
  width: 100%;
}
.mobile-country-selector .el-select .el-input__prefix {
  padding-left: 0.133rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile-country-selector .el-select .el-input__prefix .fi {
  width: 0.667rem;
  height: 0.667rem;
}
.mobile-country-selector .el-select .el-input__suffix {
  padding-right: 0.133rem;
}
.mobile-country-selector .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
  font-size: 0.267rem;
}
.mobile-country-selector .el-select .el-input .el-input__inner {
  height: 1.093rem;
  background-color: #fff;
  border: 0.013rem solid #e0e0e0;
  border-radius: 0.107rem;
  padding-left: 0.933rem;
  padding-right: 0.533rem;
  font-size: 0.293rem;
  font-weight: 400;
  color: #818181;
}
.inputColor {
  --formBg: #f4f6f8;
  --boxBg: #fff;
  --elFormBg: #fcfdfd;
}
.is_dark .inputColor {
  --formBg: #000;
  --boxBg: #161617;
  --boxBor: none;
  --boxBor: #ccc;
  --elFormBg: #232325;
}
.content {
  width: 100%;
  min-height: 96vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content .signinImg {
  width: 45%;
  background: url('@/assets/image/Slice8.png') no-repeat 50%;
  background-size: cover;
}
.content .signinImg,
.content .signinImg .signinImg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content .signinImg .signinImg-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .signinImg .signinImg-box .signinImg-title {
  width: 100%;
  font-size: 0.48rem;
  font-weight: 500;
  color: #fff;
}
.content .signinImg .signinImg-box .signinImg-title .name {
  color: var(--goldColor);
}
.content .signinImg .signinImg-box .signinImg-remark {
  margin-top: 0.4rem;
  width: 100%;
  font-size: 0.267rem;
  font-weight: 500;
  color: #fff;
}
.content .signinImg .signinImg-box .signinImg-bor {
  background: #27282a;
  border-radius: 0.107rem;
  padding: 0.133rem 0.267rem;
  width: 150%;
}
.content .signinImg .signinImg-box .signinImg-bor h6 {
  font-size: 0.24rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 0.267rem;
}
.content .signinImg .signinImg-box .signinImg-bor span {
  font-size: 0.187rem;
  font-weight: 400;
  color: #a9a9aa;
}
.content .login_box {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #fff;
}
.content .login_box .login_box_img {
  position: absolute;
  z-index: 1;
}
.content .login_box > .login_box_img:first-of-type {
  right: 0;
  top: 0;
}
.content .login_box > .login_box_img:last-of-type {
  left: 0;
  bottom: 0;
}
.content .login_box .groupTestOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.267rem;
  width: 6.4rem;
}
.content .login_box .groupTestOption li {
  color: #909090;
  height: 0.64rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.267rem;
  padding: 0 0.133rem;
  font-size: 0.213rem;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
}
.content .login_box .groupTestOption .selected {
  border-bottom: 0.04rem solid #000;
  font-size: 0.24rem;
  font-weight: 700;
  color: #000;
}
.content .login_box .login_box_form {
  width: 50%;
  min-width: 5.067rem;
  max-width: 7.2rem;
  border-radius: 0.8rem;
}
.content .login_box .login_box_form .login-title {
  font-size: 0.613rem;
  font-weight: 700;
  padding: 0.4rem 0;
  color: #000;
  margin: 0;
}
.content .login_box .login_box_form .welcomeBack {
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 1.067rem;
  color: #000;
}
.content .login_box .login_box_form .el-form {
  width: 100%;
}
.content .login_box .login_box_form .el-form .phoneNumber {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .login_box .login_box_form .el-form .phoneNumber .country {
  width: 35%;
  height: 0.533rem;
  margin-right: 0.067rem;
}
.content .login_box .login_box_form .el-form .phoneNumber .country .el-input__inner {
  width: 100%;
  color: #000;
  background-color: transparent;
  border-radius: 0.107rem;
  border: 0.013rem solid #000;
}
.content .login_box .login_box_form .el-form .phoneNumber .country .el-input__suffix {
  padding-right: 0.133rem;
}
.content .login_box .login_box_form .el-form .phoneNumber .el-form-item--medium {
  width: 100%;
}
.content .login_box .login_box_form .el-form .social_login,
.content .login_box .login_box_form .el-form .wallet_login {
  font-size: 0.213rem;
  height: 0.64rem;
  border-radius: 0.107rem;
}
.content .login_box .login_box_form .el-form .social_login .el-form-item__content,
.content .login_box .login_box_form .el-form .wallet_login .el-form-item__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.067rem;
}
.content .login_box .login_box_form .el-form .username {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0.267rem;
}
.content .login_box .login_box_form .el-form .username .country {
  width: 35%;
  height: 0.533rem;
  margin-right: 0.067rem;
}
.content .login_box .login_box_form .el-form .username .el-form-item {
  margin-bottom: 0;
}
.content .login_box .login_box_form .el-form .username .el-form-item--medium {
  width: 100%;
}
.content .login_box .login_box_form .el-form .el-form-item {
  margin-bottom: 0.133rem;
}
.content .login_box .login_box_form .el-form .el-form-item__label {
  width: 100% !important;
  text-align: left;
  font-size: 0.16rem;
  color: #000;
}
.content .login_box .login_box_form .el-form .el-form-item__content {
  margin-left: 0 !important;
}
.content .login_box .login_box_form .el-form .el-form-item__content .b-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content .login_box .login_box_form .el-form .el-form-item__content .b-tools a {
  font-size: 0.213rem;
}
.content .login_box .login_box_form .el-form .el-form-item__content .el-input__inner {
  height: 0.533rem;
  background-color: transparent;
  border-radius: 0.107rem;
  border: 0.013rem solid #000;
  color: #000;
}
.content
  .login_box
  .login_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-webkit-input-placeholder {
  color: #6e6e6e;
}
.content
  .login_box
  .login_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-moz-placeholder {
  color: #6e6e6e;
}
.content
  .login_box
  .login_box_form
  .el-form
  .el-form-item__content
  .el-input__inner:-ms-input-placeholder {
  color: #6e6e6e;
}
.content
  .login_box
  .login_box_form
  .el-form
  .el-form-item__content
  .el-input__inner::-ms-input-placeholder {
  color: #6e6e6e;
}
.content .login_box .login_box_form .el-form .el-form-item__content .el-input__inner::placeholder {
  color: #6e6e6e;
}
.content .login_box .login_box_form .el-form .el-form-item__content .el-button {
  font-size: 0.267rem;
  height: 0.64rem;
  width: 100%;
  background: #000;
  border: 0;
  border-radius: 0.32rem;
  color: #fff;
}
.content .login_box .login_box_form .el-form .el-input__suffix,
.content .login_box .login_box_form .el-form .el-input__suffix .el-input__suffix-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .login_box .login_box_form .el-form .el-input__suffix .el-input__suffix-inner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .login_box .login_box_form .el-form .is-error .el-input__inner {
  border: 0.013rem solid var(--tradingRed);
}
.content .login_box .login_box_form .el-form .line_of_division {
  position: relative;
  text-align: center;
  margin: 0.093rem 0.093rem 0.293rem;
  font-size: 0.213rem;
  color: var(--text);
}
.content .login_box .login_box_form .el-form .line_of_division:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0.133rem;
  width: 2.32rem;
  height: 0.027rem;
  background: var(--text);
}
.content .login_box .login_box_form .el-form .line_of_division:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 2.32rem;
  top: 0.133rem;
  height: 0.027rem;
  background: var(--text);
}
.content .login_box .login_box_form .el-form .action_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content .login_box .login_box_form .el-form .action_bar a {
  font-size: 0.187rem;
  font-weight: 400;
  color: var(--text);
}
.content .login_box .login_box_form .el-form .register {
  text-align: center;
  font-size: 0.187rem;
  font-weight: 400;
  color: #3d3d3d;
}
.content .login_box .login_box_form .el-form .register span {
  color: #000;
  font-weight: 700;
  cursor: pointer;
}
.content .login_box .login_box_form .phone_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content .login_box .login_box_form .phone_number .el-form-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.content .login_box .login_box_form .phone_number .el-form-item__content .el-select {
  margin-right: 0.133rem;
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-webkit-input-placeholder {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-moz-placeholder {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner:-ms-input-placeholder {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-ms-input-placeholder {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::placeholder {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-arrow-up:before {
  color: var(--text);
}
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-check,
.content
  .login_box
  .login_box_form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-close {
  display: none;
}
.content .login_box .login_box_form .wallet-login {
  border-radius: 0.32rem;
  border: none;
  width: 100%;
  height: 0.64rem;
  border: 0.5px solid #333;
  color: #000;
}
.content .login_box .login_box_form .wallet-login span {
  font-size: 0.24rem;
}
.content .login_box .login_box_form .wallet-login .van-button__content {
  width: 100%;
}
.content .login_box .login_box_form .wallet-login .van-button__content .van-button__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.content .login_box .login_box_form .el-divider__text.is-center {
  background-color: #fff;
  color: #000;
}
.content .login_box .login_box_form .agree {
  font-size: 0.187rem;
  font-weight: 400;
  color: #3d3d3d;
  padding: 0.267rem 0;
}
.content .login_box .login_box_form .agree span {
  color: #000;
  font-weight: 700;
  cursor: pointer;
}
.content .login_box .login_box_form .text-sever {
  font-size: 0.187rem;
  text-align: center;
  color: #000;
  padding: 0.267rem 0;
}
.content .qr_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #383838;
}
.content .qr_code img {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.107rem;
}
.content .qr_code .note {
  margin: 0.28rem 0;
}
.content .qr_code .note p {
  width: 3.267rem;
  text-align: center;
  line-height: 0.48rem;
  font-size: 0.213rem;
}
.navPopup {
  --navPopupBg: #f6f8fa;
  --navPopupBox: #fff;
  --loginBg: #ccc;
}
.is_dark .navPopup {
  --navPopupBg: #000;
  --navPopupBox: #0f1215;
  --loginBg: #161a1e;
}
.van-popup--right {
  margin-top: 6.5%;
}
.navPopup .van-popup {
  border-radius: 0.16rem;
}
.navPopup .content {
  padding: 0.4rem 0.267rem;
}
.navPopup .content .content-h {
  font-size: 0.507rem;
  color: #000;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navPopup .content .content-h i {
  font-weight: 400;
}
.navPopup .content .content-p {
  color: #929899;
  font-size: 0.347rem;
  font-weight: 400;
  padding: 0.267rem 0;
}
.navPopup .content .Verification {
  color: #000;
  font-size: 0.373rem;
  font-weight: 400;
}
.navPopup .content .el-form {
  margin: 0.267rem 0;
}
.navPopup .content .el-form-item__content {
  margin-left: 0 !important;
}
.navPopup .content .el-form-item__content .el-input__inner {
  height: 1.093rem;
  width: 100%;
  background: transparent;
  border-radius: calc(infinity * 0.013rem);
  border: 0;
  color: #000;
  font-size: 0.373rem;
  background: #f4f5f7;
}
.navPopup .content .el-form-item__content .el-input__inner::-webkit-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-moz-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner:-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__icon {
  display: none;
}
.navPopup .content .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navPopup .content .el-form-item__content .icon-style {
  font-size: 0.427rem;
}
.navPopup .content .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 1.093rem;
  border-radius: 0.187rem;
  font-size: 0.48rem;
  background: #000;
  border: 0;
}
.navPopup .content .el-form-item__content .el-form-item__error {
  position: static;
  font-size: 0.293rem;
  font-weight: 400;
}
.navPopup .content .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}
.navPopup .content .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}
.navPopup .content .code_box .el-form-item {
  padding-right: 0;
}
.navPopup .content .code_box .el-button {
  font-size: 0.32rem;
  width: 2.213rem;
  height: 1.093rem;
  border-radius: 0.187rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  overflow: hidden;
}
.navPopup .content .code_box .el-form-item {
  width: 100%;
}
.navPopup .content .code_box img {
  height: 1.067rem;
}
.navPopup .b-login {
  width: 100%;
  padding: 0 0.267rem;
}
.navPopup .b-login .el-button {
  width: 100%;
  height: 1.227rem;
  color: #fff;
  background: #000;
  border-radius: calc(infinity * 0.013rem);
  font-size: 0.373rem;
  font-weight: 700;
  border: 0;
}
.navPopup {
  --navPopupBg: #f6f8fa;
  --navPopupBox: #fff;
  --loginBg: #ccc;
}
.is_dark .navPopup {
  --navPopupBg: #000;
  --navPopupBox: #0f1215;
  --loginBg: #161a1e;
}
.van-popup--right {
  margin-top: 6.5%;
}
.navPopup .content {
  padding: 0.4rem 0.267rem;
}
.navPopup .content .content-h {
  font-size: 0.507rem;
  color: #000;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navPopup .content .content-h i {
  font-weight: 400;
}
.navPopup .content .content-p {
  color: #929899;
  font-size: 0.347rem;
  font-weight: 400;
  padding: 0.267rem 0;
}
.navPopup .content .Verification {
  color: #000;
  font-size: 0.373rem;
  font-weight: 400;
}
.navPopup .content .el-form {
  margin: 0.267rem 0;
}
.navPopup .content .el-form-item__content {
  margin-left: 0 !important;
}
.navPopup .content .el-form-item__content .el-input__inner {
  height: 1.093rem;
  width: 100%;
  background: transparent;
  border-radius: 0.187rem;
  border: 0.013rem solid #e0e0e0;
  color: #000;
  font-size: 0.373rem;
}
.navPopup .content .el-form-item__content .el-input__inner::-webkit-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-moz-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner:-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::-ms-input-placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__inner::placeholder {
  color: gray;
}
.navPopup .content .el-form-item__content .el-input__icon {
  display: none;
}
.navPopup .content .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navPopup .content .el-form-item__content .icon-style {
  font-size: 0.427rem;
}
.navPopup .content .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 1.093rem;
  border-radius: 0.187rem;
  font-size: 0.48rem;
  background: #000;
  border: 0;
}
.navPopup .content .el-form-item__content .el-form-item__error {
  position: static;
  font-size: 0.293rem;
  font-weight: 400;
}
.navPopup .content .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}
.navPopup .content .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}
.navPopup .content .code_box .el-form-item {
  padding-right: 0.267rem;
}
.navPopup .content .code_box .el-button {
  font-size: 0.32rem;
  width: 2.213rem;
  height: 1.093rem;
  border-radius: 0.187rem;
  padding: 0.133rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  overflow: hidden;
}
.navPopup .content .code_box .el-form-item {
  width: 80%;
}
.navPopup .content .code_box img {
  height: 1.067rem;
}
.navPopup .b-login {
  width: 100%;
  padding: 0 0.267rem;
  position: fixed;
  bottom: 0.667rem;
}
.navPopup .b-login .el-button {
  width: 100%;
  height: 1.227rem;
  color: #fff;
  background: #000;
  border-radius: calc(infinity * 0.013rem);
  font-size: 0.373rem;
  font-weight: 700;
  border: 0;
}
.wallet_login_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.wallet_login_content p:first-child {
  color: var(--onsurface);
  font-size: 0.213rem;
  font-weight: 500;
  margin: 0 0.107rem 0 0.16rem;
}
.wallet_login_content .row {
  width: 100%;
  line-height: 0.72rem;
  font-weight: 500;
  font-size: 0.2rem;
  color: #888;
  border-radius: 0.107rem;
  margin: 0 auto 0.133rem;
  margin-top: 0.4rem;
}
.wallet_login_content .row .logo,
.wallet_login_content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.wallet_login_content .row .logo {
  background-color: #fff;
  margin-right: 0.16rem;
  width: 0.533rem;
  height: 0.533rem;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wallet_login_content .row img {
  width: 0.907rem;
  height: 0.907rem;
  margin-right: 0.267rem;
}
.wallet_login_content .row .middle {
  border-radius: 0.16rem;
  background-color: #f2f4f8;
  color: #000;
  padding: 0.2rem 0.267rem;
  font-size: 0.373rem;
}
.wallet_login_content .row .middle img {
  width: 0.907rem;
  height: 0.907rem;
  border-radius: 0.16rem;
}
.wallet_login_content .row .middle .icon {
  width: 0.907rem;
  height: 0.907rem;
  margin-right: 0.267rem;
}
.wallet_login_content .row .right {
  color: #888;
}
.wallet_login_content .login-btn {
  border-radius: 0.107rem;
  width: 4.68rem;
  height: 0.667rem;
  line-height: 0.667rem;
  font-weight: 700;
  font-size: 0.2rem;
  background-color: var(--btn-bg);
  color: #fff;
  margin: 0.2rem auto 0;
}
.login_page {
  --navBg: #ededed;
}
.is_dark .login_page {
  --navBg: #222433;
}
.mobile_login_box {
  --walletLogin: #f5f6fa;
}
.is_dark .mobile_login_box {
  --walletLogin: #161a1e;
}
.mobile_login_box {
  width: 100%;
  min-height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.667rem;
  background-color: #fff;
}
.mobile_login_box .login_content {
  width: 8.52rem;
  padding-top: 1.307rem;
  font-size: 0.213rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mobile_login_box .login_content a {
  font-weight: 400;
}
.mobile_login_box .login_content h2 {
  font-size: 0.64rem;
  color: var(--text);
  padding-bottom: 0.667rem;
}
.mobile_login_box .login_content .groupTestOption {
  margin-top: 0.333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.4rem;
}
.mobile_login_box .login_content .groupTestOption li {
  color: #979797;
  height: 0.96rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.267rem;
  padding: 0 0.267rem;
  font-size: 0.373rem;
  font-weight: 400;
}
.mobile_login_box .login_content .groupTestOption .selected {
  color: #000;
  border-bottom: 0.04rem solid #000;
}
.mobile_login_box .login_content .el-form .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 0.267rem;
}
.mobile_login_box .login_content .el-form .username .el-input__inner {
  font-size: 0.293rem;
}
.mobile_login_box .login_content .el-form .username .country {
  width: 35%;
  height: 1.093rem;
  margin-right: 0.133rem;
}
.mobile_login_box .login_content .el-form .username .el-form-item {
  width: 100%;
}
.mobile_login_box .login_content .el-form .el-form-item {
  margin-bottom: 0.267rem;
}
.mobile_login_box .login_content .el-form .country .el-input__inner {
  border: 0.013rem solid #000;
}
.mobile_login_box .login_content .el-form .phone_number {
  margin-bottom: 0.48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mobile_login_box .login_content .el-form .phone_number .el-form-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.mobile_login_box .login_content .el-form .phone_number .el-form-item__content .el-select {
  margin-right: 0.133rem;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-webkit-input-placeholder {
  color: gray !important;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-moz-placeholder {
  color: gray !important;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner:-ms-input-placeholder {
  color: gray !important;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-ms-input-placeholder {
  color: gray !important;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::placeholder {
  color: gray !important;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-arrow-up:before {
  color: gray;
}
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-check,
.mobile_login_box
  .login_content
  .el-form
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-close {
  display: none;
}
.mobile_login_box .login_content .el-form .action_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0.293rem 0 0.68rem 0;
}
.mobile_login_box .login_content .el-form .action_bar .el-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.133rem;
}
.mobile_login_box .login_content .el-form .action_bar .el-checkbox .el-checkbox__label {
  font-size: 0.373rem;
}
.mobile_login_box .login_content .el-form .action_bar .el-checkbox .el-checkbox__inner {
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.373rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-color: #000;
  border-radius: 0.053rem;
}
.mobile_login_box .login_content .el-form .action_bar .el-checkbox .el-checkbox__inner:after {
  width: 0.16rem;
  height: 0.267rem;
  border-color: #171515;
}
.mobile_login_box .login_content .el-form .action_bar a {
  font-size: 0.373rem;
  color: #000;
}
.mobile_login_box .login_content .el-form .agree {
  color: #000;
  font-size: 0.293rem;
  font-weight: 400;
  padding-top: 0.667rem;
  padding-bottom: 0.667rem;
}
.mobile_login_box .login_content .el-form .agree span {
  color: #000;
  font-size: 0.293rem;
  font-weight: 700;
  text-decoration: underline;
}
.mobile_login_box .login_content .el-form .phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile_login_box .login_content .el-form .phoneNumber .country {
  width: 35%;
  margin-right: 0.133rem;
}
.mobile_login_box .login_content .el-form .phoneNumber .el-form-item {
  width: 65%;
}
.mobile_login_box .login_content .el-form .el-form-item__label {
  width: 100% !important;
  text-align: left;
  font-size: 0.32rem;
  color: #000;
  padding-bottom: 0.133rem;
}
.mobile_login_box .login_content .el-form .el-form-item__content {
  margin-left: 0 !important;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-input__inner {
  font-size: 0.373rem;
  height: 1.093rem;
  width: 100%;
  background-color: transparent;
  border-radius: 0.187rem;
  border: 0.013rem solid #000;
  color: #000;
}
.mobile_login_box
  .login_content
  .el-form
  .el-form-item__content
  .el-input__inner::-webkit-input-placeholder {
  color: gray;
}
.mobile_login_box
  .login_content
  .el-form
  .el-form-item__content
  .el-input__inner::-moz-placeholder {
  color: gray;
}
.mobile_login_box
  .login_content
  .el-form
  .el-form-item__content
  .el-input__inner:-ms-input-placeholder {
  color: gray;
}
.mobile_login_box
  .login_content
  .el-form
  .el-form-item__content
  .el-input__inner::-ms-input-placeholder {
  color: gray;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-input__inner::placeholder {
  color: gray;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-input__icon {
  display: none;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-input__suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile_login_box .login_content .el-form .el-form-item__content .icon-style {
  font-size: 0.427rem;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-button {
  color: #fff;
  width: 100%;
  height: 0.96rem;
  font-size: 0.48rem;
  font-weight: 400;
  border-radius: 0.187rem;
  background: #000;
  border: 0;
}
.mobile_login_box .login_content .el-form .el-form-item__content .el-form-item__error {
  position: static;
  margin-top: 0.133rem;
  font-size: 0.32rem;
}
.mobile_login_box .login_content .el-form .is-error {
  font-size: 0.373rem;
}
.mobile_login_box .login_content .el-form .is-error .el-input__inner {
  border: 0.013rem solid #f56c6c;
}
.mobile_login_box .login_content .phone_number,
.mobile_login_box .login_content .phone_number .el-form-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mobile_login_box .login_content .phone_number .el-form-item__content {
  margin-left: 0 !important;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mobile_login_box .login_content .phone_number .el-form-item__content .el-input__inner {
  font-size: 0.373rem;
  height: 0.96rem;
  color: #fff !important;
}
.mobile_login_box .login_content .phone_number .el-form-item__content .el-select {
  margin-right: 0.267rem;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-webkit-input-placeholder {
  color: var(--text) !important;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-moz-placeholder {
  color: var(--text) !important;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner:-ms-input-placeholder {
  color: var(--text) !important;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::-ms-input-placeholder {
  color: var(--text) !important;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-input__inner::placeholder {
  color: var(--text) !important;
}
.mobile_login_box .login_content .phone_number .el-form-item__content .el-select .el-input {
  width: 3.333rem;
  height: 0.96rem;
}
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-check,
.mobile_login_box
  .login_content
  .phone_number
  .el-form-item__content
  .el-select
  .el-icon-circle-close {
  display: none;
}
.mobile_login_box .login_content .phone_number .el-form-item__content .el-input--medium {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
}
.mobile_login_box .login_content .phone_number .el-form-item__content .el-form-item__error {
  position: absolute;
}
.mobile_login_box .login_content .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3d3d3d;
  font-size: 0.32rem;
  font-weight: 400;
  padding: 0.467rem 0;
}
.mobile_login_box .login_content .register span {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}
.mobile_login_box .login_content .login_select,
.mobile_login_box .login_content .social_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile_login_box .login_content .login_select li,
.mobile_login_box .login_content .social_login li {
  font-size: 0.373rem;
  border-radius: 0.107rem;
  border: 0.013rem solid #c4c4c4;
  padding: 0.293rem 0.147rem;
  background: var(--bg);
  color: var(--onsurface);
}
.mobile_login_box .login_content .login_select li:first-child,
.mobile_login_box .login_content .social_login li:first-child {
  margin-right: 0.48rem;
}
.mobile_login_box .login_content .login_select .active,
.mobile_login_box .login_content .social_login .active {
  background: var(--onsurface);
  color: var(--bg);
}
.mobile_login_box .login_content .line_of_division {
  position: relative;
  text-align: center;
  margin: 0.093rem 0.093rem 0.293rem;
}
.mobile_login_box .login_content .line_of_division:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0.16rem;
  width: 4rem;
  height: 0.027rem;
  background: #474d57;
}
.mobile_login_box .login_content .line_of_division:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 4rem;
  top: 0.16rem;
  height: 0.027rem;
  background: #474d57;
}
.mobile_login_box .login_content .reg {
  font-size: 0.373rem;
  color: #000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile_login_box .text-sever {
  font-size: 0.347rem;
  text-align: center;
  color: #000;
  padding: 0.267rem 0;
}
.mobile_login_box .cut-c .el-divider .el-divider__text {
  font-size: 0.347rem;
  color: #666;
}
.mobile_login_box .cut-c .wallet-login {
  color: #000;
  width: 100%;
  height: 0.96rem;
  font-size: 0.4rem;
  font-weight: 400;
  border-radius: 0.187rem;
  border: 0.013rem solid #c4c4c4;
}
.mobile_login_box .cut-c .wallet-login span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile_login_box .cut-c .wallet-login span svg {
  margin-right: 0.133rem;
}
.mobile_login_box .cut-c .wallet-login .van-button__content {
  width: 100%;
}
.mobile_login_box .cut-c .wallet-login .van-button__content .van-button__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
