.flag-img {
  width: 0.96rem;
  display: inline-block;
  vertical-align: middle;
}

.flag-s {
  border-radius: 50%;
  border: 0.013rem solid #eaeaea;
  vertical-align: middle;
}

.conversion {
  --bg: #fff;
  --btn: #3740f7;
}

.is_dark .conversion {
  --bg: #fff;
  --btn: #000;
}

.conversion {
  min-height: 100vh;
  background-color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 2rem 0;
}

.conversion .h-conversion {
  padding: 0.2rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0.027rem 0.027rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.027rem 0.027rem 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.conversion .h-conversion div {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
}

.conversion .h-conversion div span {
  font-size: 0.24rem;
  font-weight: 500;
}

.conversion .h-conversion div span:last-child:hover {
  cursor: pointer;
}

.conversion .box-conversion {
  width: 55%;
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .box-conversion .t-conversion {
  padding: 1.333rem 0 1.733rem 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conversion .box-conversion .t-conversion .l-conversion-title {
  overflow: visible;
  width: 45%;
  position: relative;
  background-size: 30%;
}

.conversion .box-conversion .t-conversion .l-conversion-title p {
  font-size: 0.2rem;
}

.conversion .box-conversion .t-conversion .l-conversion-title img {
  position: absolute;
  top: -15%;
  left: -11%;
}

.conversion .box-conversion .t-conversion .r-conversion {
  width: 56%;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box {
  width: 100%;
  border-radius: 0.267rem;
  padding: 0.293rem 0.4rem;
  background: #fff;
  -webkit-box-shadow: 0 0 0.08rem 0.053rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0.08rem 0.053rem rgba(0, 0, 0, 0.06);
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .el-form-item {
  margin-bottom: 0.067rem !important;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .el-form-item
  .bt-conversion {
  margin: 0.133rem 0;
  font-size: 0.533rem;
  display: inline-block;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .el-form-item
  .bt-conversion:hover {
  cursor: pointer;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .el-form-item .bt-exchange {
  margin: 0.4rem 0 0 0;
  width: 100%;
  border-radius: calc(infinity * 0.013rem);
  background-color: var(--btn);
  color: #fff;
  font-size: 0.24rem;
  font-weight: 500;
  height: 0.747rem;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .el-form-item__content {
  margin: 0 !important;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .money {
  display: flex;
  padding: 0 0.027rem;
  margin-top: 0.267rem;
  justify-content: space-between;
  font-size: 0.2rem;
  font-weight: 700;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .input-box {
  border-radius: 0.133rem;
  border: 0.013rem solid #dcdcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.133rem 0 0.267rem;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .input-box .l-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .input-box
  .l-input
  .el-input__inner {
  border: 0;
  padding: 0;
  font-size: 0.24rem;
  font-weight: 700;
}

.conversion .box-conversion .t-conversion .r-conversion .conversion-box .input-box .r-select {
  -ms-flex-item-align: center;
  align-self: center;
  width: 29%;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .input-box
  .r-select
  .el-input__inner {
  border: 0;
  padding: 0 0 0 0.533rem;
  height: 0.6rem;
  border-radius: 0.107rem;
  background: #f7f7f7;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .input-box
  .r-select
  .el-input__prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .input-box
  .r-select
  .el-input__prefix
  .symbol {
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 0.027rem;
}

.conversion
  .box-conversion
  .t-conversion
  .r-conversion
  .conversion-box
  .input-box
  .r-select
  .el-input__prefix
  .symbol
  svg {
  width: 0.4rem;
  height: 0.4rem;
}

.conversion .box-conversion .c-step {
  margin: 0.267rem 0 2rem 0;
}

.conversion .box-conversion .c-step h6 {
  text-align: center;
}

.conversion .box-conversion .c-step .t-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.333rem 0 0.133rem 0;
}

.conversion .box-conversion .c-step .t-img div {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.conversion .box-conversion .c-step .t-img .dashed-line {
  border-bottom: 0.027rem dashed #979797;
  width: 10%;
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .box-conversion .c-step .d-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.conversion .box-conversion .c-step .d-title .d-title-c {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conversion .box-conversion .c-step .d-title .d-title-c div {
  width: 23%;
  text-align: center;
  font-size: 0.2rem;
  padding: 0.133rem 0;
  font-weight: 700;
}

.conversion .box-conversion .b-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversion .box-conversion .b-title .l-title {
  width: 70%;
}

.conversion .box-conversion .b-title .l-title h6 .symbol svg {
  display: inline-block;
  width: 0.533rem;
  height: 0.533rem;
}

.conversion .box-conversion .b-title .l-title p {
  padding: 0.267rem 0;
  font-size: 0.2rem;
  font-weight: 400;
}

.conversion .box-conversion .b-title .r-img {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.conversion .box-conversion .b-title .r-img img {
  -ms-flex-item-align: center;
  align-self: center;
}

.SelectDailog {
  --fontcolor: #000;
  --libg: #fafafa;
}

.SelectDailog .van-popup {
  padding: 0 0.4rem;
}

.SelectDailog .SelectDailog-title {
  margin: 0.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SelectDailog .SelectDailog-title p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: 0.427rem;
  font-weight: 400;
  color: var(--fontcolor);
}

.SelectDailog .SelectDailog-title i {
  font-size: 0.533rem;
}

.SelectDailog .ul-table .li-item {
  margin: 0.267rem 0;
  background: var(--libg);
  border-radius: 0.4rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.267rem;
}

.SelectDailog .ul-table .li-item .l-li-item {
  -ms-flex-item-align: center;
  align-self: center;
  color: var(--fontcolor);
  font-size: 0.467rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SelectDailog .ul-table .li-item .l-li-item .symbol {
  -ms-flex-item-align: center;
  align-self: center;
}

.SelectDailog .ul-table .li-item .l-li-item .symbol svg {
  width: 0.6rem;
  height: 0.6rem;
  vertical-align: middle;
}

.SelectDailog .ul-table .li-item .l-li-item .Currency-name {
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 0.133rem;
}

.SelectDailog .ul-table .li-item .r-li-item {
  -ms-flex-item-align: center;
  align-self: center;
}

.SelectDailog .ul-table .li-item .r-li-item .van-radio__icon--checked .van-icon {
  border-radius: 0.133rem;
}

.bar {
  --title: #1d1d1d;
  --bg: #fff;
}

.is_dark .bar {
  --title: #f7f7f7;
  --bg: #161a1e;
}

.van-nav-bar {
  background-color: var(--bg);
  margin-bottom: 0.667rem;
}

.van-nav-bar:after {
  border: none !important;
}

.van-nav-bar .van-nav-bar__content {
  height: 50px;
}

.van-nav-bar .van-nav-bar__left,
.van-nav-bar .van-nav-bar__title {
  color: var(--title);
}

.van-nav-bar .van-nav-bar__left .iconfont {
  font-size: 0.533rem;
  vertical-align: middle;
}

.van-nav-bar .van-nav-bar__right {
  color: var(--title);
}

.el-form-item__error {
  color: #f56c6c;
  font-size: 0.267rem;
  line-height: 1;
  padding-top: 0.053rem;
  position: absolute;
  top: 38%;
  left: 0;
}

.conversion {
  --card: #fff;
  --input: #222;
  --p: #c4c4c4;
  --title: #ffd337;
}

.conversion-index {
  min-height: 100vh;
  background-color: #f4f6f8;
}

.conversion {
  padding: 0 0.533rem;
}

.conversion .el-form-item__error {
  top: 100%;
}

.conversion .el-card {
  margin: 0.32rem 0;
  background-color: var(--card);
  border: none;
  border-radius: 0.16rem;
}

.conversion .el-card .el-card__body {
  padding: 0 0.4rem;
}

.conversion .el-card .el-card__body .conversion-icon .conversion-title {
  margin: 0.133rem 0 0.133rem 0;
  padding: 0 0.4rem;
  font-size: 0.32rem;
  font-weight: 700;
  line-height: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conversion .el-card .el-card__body .conversion-icon .conversion-title i {
  font-size: 0.533rem;
  color: #6a6a6a;
}

.conversion .el-card .el-card__body .conversion-icon .box-border {
  border-radius: calc(infinity * 0.013rem);
  border: 0.013rem solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .l-name {
  margin: 0.133rem;
  width: 23%;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .l-name .el-button {
  width: 100%;
  border-radius: calc(infinity * 0.013rem);
  background-color: #000;
  color: #fff;
  padding: 0.267rem;
  font-size: 0.333rem;
  font-weight: 400;
  text-align: center;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .r-number {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .r-number .el-input--medium {
  height: 100%;
}

.conversion
  .el-card
  .el-card__body
  .conversion-icon
  .box-border
  .r-number
  .el-input--medium
  .el-input__inner {
  height: 100%;
  border: none;
  border-radius: calc(infinity * 0.013rem);
  text-align: right;
  font-size: 0.347rem;
  font-weight: 700;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .all {
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 0.133rem;
}

.conversion .el-card .el-card__body .conversion-icon .box-border .all span {
  font-size: 0.373rem;
  font-weight: 400;
  color: #000;
}

.conversion .el-card .el-card__body .l-card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.32rem;
  font-weight: 400;
  color: var(--input);
}

.conversion .el-card .el-card__body .l-card .icon {
  width: 0.533rem;
  height: 0.933rem;
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .el-card .el-card__body .l-card i {
  font-size: 0.533rem;
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .el-card .el-card__body .l-card div {
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .el-card .el-card__body .c-card {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.conversion .el-card .el-card__body .c-card .el-input--medium .el-input__inner {
  border: 0;
  height: 0.933rem;
  width: 100%;
  color: var(--p);
  background-color: var(--card);
  border: none;
  font-size: 0.347rem;
  font-weight: 700;
}

.conversion .el-card .el-card__body .c-card .first .el-input--medium .el-input__inner {
  border-bottom: 0.013rem solid #a6a6a6;
}

.conversion .el-card .el-card__body .r-card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.conversion .el-card .el-card__body .r-card div {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-flex-item-align: center;
  align-self: center;
}

.conversion .el-card .el-card__body .r-card div .iconfont {
  font-size: 1.067rem;
  color: #000;
}

.conversion .form {
  margin-top: 0.52rem;
}

.conversion .form .first-p {
  margin: 0.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.32rem;
  color: var(--input);
  font-weight: 700;
}

.conversion .form .p-solid {
  margin: 0.4rem 0.067rem;
  border-top: 0.013rem solid #c4c4c4;
}

.conversion .form .number .all-money {
  color: #000;
  line-height: 0.987rem;
  font-size: 0.347rem;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  padding: 0 0.133rem;
}

.conversion .form .number .el-input--medium .el-input__inner {
  height: 0.96rem;
  font-size: 0.373rem;
  border-radius: 0.16rem;
  background-color: var(--card);
  border: none;
  color: var(--p);
}

.conversion .form .number p {
  line-height: 0.667rem;
  font-size: 0.32rem;
  color: var(--input);
}

.conversion .form .submit {
  border: 0;
  color: #fff;
  font-size: 0.32rem;
  width: 100%;
  height: 0.96rem;
  border-radius: calc(infinity * 0.013rem);
  background-color: #000;
}
