.notify {
    background-color: #fff
}

.notify .notify-introduce {
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: .4rem
}

.notify .notify-introduce > div h6 {
    font-size: .507rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-bottom: .267rem
}

.notify .notify-introduce > div p {
    font-size: .24rem;
    color: #ccc;
    text-align: center
}

.notify .notify-introduce img {
    width: 3.333rem
}

.notify .notify-introduce > img:last-of-type {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.notify .notify-box {
    max-width: 18.667rem;
    width: 80%;
    margin: 0 auto;
    padding-top: .667rem
}

.notify .notify-box .notify-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: .267rem
}

.notify .notify-box .notify-header > h6 {
    font-size: .347rem;
    font-weight: 400;
    color: #000
}

.notify .notify-box .notify-header .notify-header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.notify .notify-box .notify-header .notify-header-box h6 {
    color: #000;
    font-size: .213rem;
    font-weight: 400;
    padding-right: .267rem;
    padding-left: .067rem
}

.notify .notify-box .notify-header .el-dropdown .point {
    color: #000;
    font-size: .4rem;
    font-weight: 700
}

.notify .notify-box .notify-header .el-checkbox__inner {
    background-color: transparent
}

.notify .notify-box .notify-header .el-checkbox__inner:after {
    border-color: #000
}

.notify .notify-box .notify-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: .013rem solid #d9d9d9;
    height: 94vh
}

.notify .notify-box .notify-bottom .notify-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 1.067rem
}

.notify .notify-box .notify-bottom .notify-type li {
    margin-bottom: .4rem;
    padding: .133rem 0;
    font-size: .32rem;
    font-weight: 400;
    color: #919191;
    cursor: pointer;
    white-space: nowrap;
    border-radius: .24rem
}

.notify .notify-box .notify-bottom .notify-type li i {
    font-size: .32rem;
    padding-right: .133rem
}

.notify .notify-box .notify-bottom .notify-type .is-selected {
    color: #000
}

.notify .notify-box .notify-bottom .notify-list-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: .013rem solid #d9d9d9
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list {
    border-radius: .4rem;
    padding: .267rem;
    height: 85%;
    overflow-y: auto
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list .noData {
    height: auto
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li {
    cursor: pointer;
    color: #000;
    padding: .2rem;
    border-radius: .16rem
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li:not(:first-of-type) {
    margin-top: .2rem
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li:hover {
    background-color: var(--notifyHover)
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: .133rem
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li > div h6 {
    font-size: .293rem;
    font-weight: 500;
    color: #000
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li > div span {
    font-size: .213rem;
    font-weight: 400;
    color: #979797
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li > h6 {
    font-size: .347rem;
    font-weight: 400;
    color: #000;
    cursor: pointer
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li p {
    font-size: .213rem;
    font-weight: 400;
    color: #979797
}

.notify .notify-box .notify-bottom .notify-list-box .notify-list li .view-more {
    text-decoration: underline;
    text-underline-offset: .133rem
}

.notify .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.van-popup {
    padding: 1.6rem .267rem 0 .267rem;
    background-color: #fff
}

.van-popup .el-icon-back {
    color: var(--text);
    font-size: .56rem
}

.van-popup .notificationPreview-title {
    font-size: .587rem;
    font-weight: 400;
    color: var(--text);
    padding: .267rem 0
}

.van-popup .notificationPreview-updateTime {
    font-size: .32rem;
    font-weight: 400;
    color: #383838;
    padding: .4rem 0
}

.van-popup .notificationPreview-content {
    font-size: .373rem;
    font-weight: 400;
    color: var(--text)
}

.notify {
    --notifyBg: transparent
}

.is_dark .notify {
    --notifyBg: #161a1e
}

.notify {
    background-color: #fff;
    min-height: 94vh
}

.notify .largeTransactions-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .333rem .4rem
}

.notify .largeTransactions-header span {
    color: #000;
    font-size: .507rem;
    font-weight: 400
}

.notify .largeTransactions-header h6 {
    font-size: .453rem;
    font-weight: 400;
    color: #000
}

.notify .largeTransactions-header .iconfont {
    font-size: .533rem;
    vertical-align: middle
}

.notify .notify-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .027rem solid #f6f6f6
}

.notify .notify-header > h6 {
    font-size: .48rem;
    font-weight: 400;
    color: var(--text)
}

.notify .notify-header .notify-header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.notify .notify-header .notify-header-box h6 {
    color: #000;
    font-size: .267rem;
    font-weight: 400;
    padding-right: .267rem;
    padding-left: .067rem
}

.notify .notify-header .el-icon-more {
    color: #000;
    font-size: .56rem
}

.notify .van-tabs .van-tabs__line {
    background-color: transparent
}

.notify .van-tabs .van-tabs__nav--line.van-tabs__nav--complete {
    padding: .2rem .8rem
}

.notify .van-tabs .van-tabs__wrap {
    overflow: initial
}

.notify .van-tabs .van-tab span {
    font-size: .373rem;
    font-weight: 400;
    color: #383838
}

.notify .van-tabs .van-tab span i {
    font-size: .373rem;
    font-weight: 400
}

.notify .van-tabs .van-tab--active {
    border-bottom: .067rem solid #000
}

.notify .van-tabs .van-tab--active span {
    color: #000
}

.notify .van-list {
    padding: .667rem
}

.notify .van-list .notify-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .267rem;
    background-color: #fff;
    border-radius: .267rem;
    margin-bottom: .267rem;
    border: .027rem solid #f2f3f4
}

.notify .van-list .notify-list svg {
    width: .667rem;
    height: .667rem;
    margin-top: .133rem
}

.notify .van-list .notify-list .list-title {
    width: 80%;
    padding: .133rem
}

.notify .van-list .notify-list .list-title h6 {
    font-size: .427rem;
    font-weight: 400;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.notify .van-list .notify-list .list-title > h6:last-of-type {
    font-size: .32rem;
    font-weight: 400;
    color: #000;
    padding-top: .267rem
}

.notify .van-list .notify-list .check {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.notify .van-list .notify-list .check i {
    font-size: .64rem;
    color: gray
}
