div .p-container {
  padding: 0.667rem 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f1f2f3;
  color: #000;
  font-size: 0.2rem;
}

div .p-container div {
  word-wrap: break-word;
  width: 100%;
}

div .p-container span {
  color: #000 !important;
}

div .m-container {
  color: #000;
  padding: 0 0.533rem;
  padding-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.347rem;
  background-color: #f1f2f3;
  min-height: 94vh;
}

div .m-container div {
  word-wrap: break-word;
  width: 100%;
}

div .m-container span {
  color: #000 !important;
}
