.marketIndex {
  border-radius: 0.16rem;
  margin-top: 0.8rem;
}

.marketIndex .up {
  color: var(--tradingGreen) !important;
  background-color: #10231e;
}

.marketIndex .down,
.marketIndex .up {
  font-weight: 400;
  border-radius: 0.16rem;
  padding: 0.067rem 0.133rem;
  margin-bottom: 0.067rem;
}

.marketIndex .down {
  color: var(--tradingRed) !important;
  background-color: #291919;
}

.marketIndex .marketIndex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--blackColor);
}

.marketIndex .marketIndex-header > span:first-of-type {
  font-size: 0.453rem;
  font-weight: 700;
}

.marketIndex .marketIndex-header > span:last-of-type {
  font-size: 0.373rem;
  font-weight: 400;
}

.marketIndex .marketIndex-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketIndex .marketIndex-choose li {
  font-size: 0.373rem;
  color: #919191;
  padding-right: 0.267rem;
}

.marketIndex .marketIndex-choose .choose {
  color: #fff;
}

.marketIndex .marketIndex-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1e;
  border: 0.013rem solid #2f2f32;
  border-radius: 0.32rem;
  padding: 0.267rem;
}

.marketIndex .marketIndex-list li:not(:first-of-type) {
  margin-top: 0.333rem;
}

.marketIndex .marketIndex-list li .list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.marketIndex .marketIndex-list li .list-left h6 {
  font-size: 0.373rem;
  font-weight: 700;
  color: var(--blackColor);
  padding-left: 0.133rem;
}

.marketIndex .marketIndex-list li .list-left h6 .iconfont {
  font-size: 0.373rem;
  color: #bffb4f;
}

.marketIndex .marketIndex-list li .list-left h6 .volume {
  font-size: 0.32rem;
  font-weight: 500;
}

.marketIndex .marketIndex-list li .list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.marketIndex .marketIndex-list li .list-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.marketIndex .marketIndex-list li .list-right div span {
  font-size: 0.32rem;
  color: var(--blackColor);
}

.marketIndex .marketIndex-list li .list-right .el-button {
  border: none;
  font-size: 0.427rem;
  border-radius: 0.16rem;
  color: #000;
  padding: 0.133rem 0.267rem;
}

.popularStocks .popularStocks-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.popularStocks .popularStocks-header > span:first-of-type {
  font-size: 0.453rem;
  font-weight: 700;
}

.popularStocks .popularStocks-header > span:last-of-type {
  font-size: 0.373rem;
  font-weight: 400;
}

.popularStocks .item {
  max-height: 3.467rem;
  border-radius: 0.16rem;
  font-size: 0.373rem;
}

.popularStocks .item .up {
  color: #4fbf67;
}

.popularStocks .item .down {
  color: #f6465b;
}

.popularStocks .item div,
.popularStocks .item span {
  color: var(--textColor);
}

.popularStocks .item > div {
  margin-top: 0.107rem;
  padding: 0 0.2rem;
}

.popularStocks .item > div:first-child {
  margin-top: 0.133rem;
}

.popularStocks .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.popularStocks .item .title .icon {
  margin-right: 0.133rem;
}

.popularStocks .item .title .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popularStocks .item .title .text span {
  font-size: 0.347rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.popularStocks .item .price {
  font-size: 0.427rem;
  color: #fff;
}

.popularStocks .item .change {
  font-size: 0.333rem;
}

.popularStocks .item .change .remark {
  color: #fff !important;
  font-size: 0.293rem !important;
}

.popularStocks .item .kline {
  height: 1.067rem;
}

.todayBigEvents {
  --newsListBg: #fff;
  --itemBor: 0.013rem solid #ebebeb;
}

.is_dark .todayBigEvents {
  --newsListBg: transparent;
  --itemBor: 0.013rem solid #979797;
}

.todayBigEvents .todayBigEvents-title {
  color: #000;
  font-size: 0.293rem;
  font-weight: 600;
  padding-bottom: 0.133rem;
}

.todayBigEvents .todayBigEvents-list {
  background-color: var(--newsListBg);
  border: var(--itemBor);
  border-radius: 0.16rem;
  padding: 0.133rem 0.4rem;
}

.todayBigEvents .todayBigEvents-list li {
  list-style-type: disc;
  color: #000;
  padding-bottom: 0.533rem;
  cursor: pointer;
}

.todayBigEvents .todayBigEvents-list li::marker {
  font-size: 0.32rem;
}

.todayBigEvents .todayBigEvents-list li h6 {
  font-size: 0.24rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.067rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.todayBigEvents .todayBigEvents-list li span {
  font-size: 0.24rem;
  font-weight: 400;
  color: #9999a6;
}

.todayBigEvents .todayBigEvents-list .noData h6 {
  color: #000;
  font-weight: 400;
}

.cryptocurrencyNews .news-list {
  padding: 0.667rem;
}

.cryptocurrencyNews .news-list li {
  border-radius: 0.16rem;
  padding: 0.467rem 0.333rem;
  margin-top: 0.333rem;
  background-color: #111;
}

.cryptocurrencyNews .news-list li h6 {
  font-size: 0.373rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

.cryptocurrencyNews .news-list li .time {
  color: #9999a6;
  font-size: 0.32rem;
  font-weight: 400;
  padding-top: 0.133rem;
}

.cryptocurrencyNews .news-list li .description {
  font-size: 0.347rem;
  font-weight: 400;
  color: #fff;
  margin: 0.267rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cryptocurrencyNews .news-list li .el-image {
  border-radius: 0.16rem;
  width: 100%;
}

.cryptocurrencyNews .news-list li .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.cryptocurrencyNews .news-list li .news-box i {
  font-size: 0.427rem;
}

.cryptocurrencyNews .news-list li .news-box .avatar {
  color: #9999a6;
  font-size: 0.347rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cryptocurrencyNews .news-list li .news-box .avatar img {
  width: 0.48rem;
  height: 0.48rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.107rem;
  margin-left: 0.067rem;
}

.cryptocurrencyNews .news-list {
  padding: 0.667rem;
}

.cryptocurrencyNews .news-list li {
  border-radius: 0.16rem;
  padding: 0.467rem 0.333rem;
  margin-top: 0.333rem;
  background-color: #111;
}

.cryptocurrencyNews .news-list li h6 {
  font-size: 0.373rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

.cryptocurrencyNews .news-list li .time {
  color: #9999a6;
  font-size: 0.32rem;
  font-weight: 400;
  padding-top: 0.133rem;
}

.cryptocurrencyNews .news-list li .description {
  font-size: 0.347rem;
  font-weight: 400;
  color: #fff;
  margin: 0.267rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cryptocurrencyNews .news-list li .el-image {
  border-radius: 0.16rem;
  width: 100%;
}

.cryptocurrencyNews .news-list li .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.cryptocurrencyNews .news-list li .news-box i {
  font-size: 0.427rem;
}

.cryptocurrencyNews .news-list li .news-box .avatar {
  color: #9999a6;
  font-size: 0.347rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cryptocurrencyNews .news-list li .news-box .avatar img {
  width: 0.48rem;
  height: 0.48rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.107rem;
  margin-left: 0.067rem;
}

.newsCastrate {
  --tabsColor: #999;
  --inviteBor: none;
  --boxBg: #fff;
  --newsListBg: #fff;
  --itemBor: 0.013rem solid #ebebeb;
  --itemBottom: 0.013rem solid #ebebeb;
}

.is_dark .newsCastrate {
  --tabsColor: #fff;
  --inviteBor: 0.04rem solid #121212;
  --boxBg: #141416;
  --newsListBg: transparent;
  --itemBor: none;
  --itemBottom: 0.013rem solid #393939;
}

.newsCastrate .noData h6 {
  color: var(--blackColor);
}

.newsCastrate .mobile {
  border-radius: 0.16rem;
  padding: 0.133rem;
  background-color: var(--boxBg);
}

.newsCastrate .mobile .van-tabs {
  border-bottom: var(--inviteBor);
}

.newsCastrate .mobile .van-tabs .van-tab__text {
  color: var(--tabsColor);
}

.newsCastrate .mobile .van-tabs .van-tab--active .van-tab__text {
  color: var(--blackColor);
}

.newsCastrate .mobile .van-tabs .van-tabs__line {
  background-color: var(--blackColor);
}

.newsCastrate .mobile .van-tabs .van-tab {
  margin-right: 0.267rem;
}

.newsCastrate .mobile .van-tabs .van-tab--disabled {
  opacity: 0;
}

.newsCastrate .mobile .rankingList-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.267rem;
}

.newsCastrate .mobile .rankingList-active li {
  color: #9999a6;
  padding-bottom: 0.267rem;
  margin-right: 0.667rem;
  font-size: 0.427rem;
  font-weight: 400;
  cursor: pointer;
}

.newsCastrate .mobile .rankingList-active .is-active {
  color: #fff;
  border-bottom: 0.067rem solid #fff;
}

.newsCastrate .mobile .news-list {
  padding: 0;
}

.newsCastrate .mobile .news-list li {
  padding: 0.467rem 0.333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.newsCastrate .mobile .news-list li:not(:first-of-type) {
  border-top: 0.013rem solid #1d1d1f;
}

.newsCastrate .mobile .news-list li .newsCastrate-box {
  padding-left: 0.267rem;
  width: 24rem;
}

.newsCastrate .mobile .news-list li .newsCastrate-box h6 {
  font-size: 0.32rem;
  color: var(--blackColor);
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .time {
  color: #9999a6;
  font-size: 0.32rem;
  padding-top: 0.133rem;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .description {
  font-size: 0.267rem;
  color: #9999a6;
  margin: 0.067rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.133rem;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .news-box i {
  font-size: 0.347rem;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .news-box .avatar {
  color: #9999a6;
  font-size: 0.293rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsCastrate .mobile .news-list li .newsCastrate-box .news-box .avatar img {
  width: 0.347rem;
  height: 0.347rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.107rem;
  margin-left: 0.067rem;
}

.newsCastrate .mobile .news-list li .el-image {
  width: 12.667rem;
  height: 2.667rem;
  border-radius: 0.16rem;
}

.newsCastrate .mobile .news-list > li:first-of-type .newsCastrate-box h6 span {
  background-color: #bcff2f;
  color: #000;
}

.newsCastrate .mobile .news-list > li:nth-of-type(2) .newsCastrate-box h6 span {
  background-color: #f5692c;
}

.newsCastrate .mobile .news-list > li:nth-of-type(3) .newsCastrate-box h6 span {
  background-color: #faaa66;
}

.newsCastrate .mobile .news-list > li:nth-child(-n + 3) .newsCastrate-box h6 {
  font-size: 0.32rem;
  color: var(--blackColor);
  line-height: 1.5;
}

.newsCastrate .mobile .news-list > li:nth-child(-n + 3) .newsCastrate-box h6 span {
  display: inline-block;
  width: 0.533rem;
  height: 0.533rem;
  line-height: 0.533rem;
  text-align: center;
  border-radius: 0.08rem;
  margin-right: 0.133rem;
}

.newsCastrate .web .new-details {
  padding: 1.067rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.newsCastrate .web .new-details .details-left {
  width: 65%;
}

.newsCastrate .web .new-details .details-left .left-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.133rem;
}

.newsCastrate .web .new-details .details-left .left-list li {
  font-size: 0.373rem;
  font-weight: 400;
  color: #9999a6;
  cursor: pointer;
  margin-right: 0.4rem;
}

.newsCastrate .web .new-details .details-left .left-list .selected {
  color: var(--blackColor);
  border-bottom: 0.053rem solid var(--blackColor);
}

.newsCastrate .web .new-details .details-left .news-list {
  background-color: var(--newsListBg);
  border: var(--itemBor);
  padding: 0.667rem 0;
}

.newsCastrate .web .new-details .details-left .news-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: var(--itemBottom);
  cursor: pointer;
}

.newsCastrate .web .new-details .details-left .news-list li:not(:first-of-type) {
  border-top: 0.013rem solid #1d1d1f;
}

.newsCastrate .web .new-details .details-left .news-list li > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  height: 2.4rem;
  padding-left: 0.533rem;
}

.newsCastrate .web .new-details .details-left .news-list li > div:last-of-type h6 {
  font-size: 0.24rem;
  font-weight: 400;
  padding-right: 0.133rem;
  color: var(--blackColor);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsCastrate .web .new-details .details-left .news-list li > div:last-of-type div {
  color: #9999a6;
  font-size: 0.213rem;
  font-weight: 400;
}

.newsCastrate .web .new-details .details-left .news-list li .description {
  color: #9999a6;
  font-size: 0.213rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsCastrate .web .new-details .details-left .news-list li .news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.133rem;
}

.newsCastrate .web .new-details .details-left .news-list li .news-box i {
  font-size: 0.347rem;
}

.newsCastrate .web .new-details .details-left .news-list li .news-box .avatar {
  color: #9999a6;
  font-size: 0.213rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.newsCastrate .web .new-details .details-left .news-list li .news-box .avatar img {
  width: 0.347rem;
  height: 0.347rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.107rem;
  margin-left: 0.067rem;
}

.newsCastrate .web .new-details .details-left .news-list li .el-image {
  width: 4rem;
  height: 2.4rem;
  border-radius: 0.16rem;
  padding: 0;
}

.newsCastrate .web .new-details .details-left .news-list li .el-image img {
  -o-object-fit: cover;
  object-fit: cover;
}

.newsCastrate .web .new-details .details-left .news-list li i {
  font-size: 2rem;
  color: #9999a6;
}

.newsCastrate .web .new-details .details-left .news-list > :last-of-type {
  border: none;
}

.newsCastrate .web .new-details .details-left .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.newsCastrate .web .new-details .todayBigEvents {
  width: 30%;
}

.news .newsList .news-list {
  padding: 0;
}

.news .newsList-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--blackColor);
}

.news .newsList-header > span:first-of-type {
  font-size: 0.453rem;
  font-weight: 700;
}

.news .newsList-header > span:last-of-type {
  font-size: 0.373rem;
  font-weight: 400;
}

.home-goTrade {
  height: 100%;
  width: 100%;
  border-radius: 0.16rem;
}

.home-goTrade .content {
  width: 100%;
  border-radius: 0.16rem;
  border: 0.013rem solid #2f2f32;
}

.home-goTrade .content .box {
  width: 100%;
  height: 7.333rem;
  border-radius: 0.16rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#111112), to(#25393d));
  background: linear-gradient(180deg, #111112, #25393d);
}

.home-goTrade .img-box {
  display: none;
}

.followAi {
  padding-top: 1.333rem;
}

.followAi .swiper-container {
  overflow: initial;
}

.followAi .swiper-container .swiper-wrapper .item {
  background-color: #111112;
  border: 0.013rem solid #364140;
  border-radius: 0.213rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.867rem 0.4rem 0.4rem 0.4rem;
  position: relative;
}

.followAi .swiper-container .swiper-wrapper .item img {
  width: 4rem;
  position: absolute;
  top: -2rem;
}

.followAi .swiper-container .swiper-wrapper .item h6 {
  font-size: 0.453rem;
  font-weight: 400;
  color: #fff;
}

.followAi .swiper-container .swiper-wrapper .item span {
  font-size: 0.453rem;
  font-weight: 400;
  color: #0cbb7c;
  margin: 0.267rem 0;
}

.followAi .swiper-container .swiper-wrapper .item .el-button {
  width: 100%;
  font-size: 0.373rem;
  font-weight: 400;
  border-radius: 0.667rem;
}

.followAi .swiper-container .swiper-wrapper .item .el-button span {
  color: #000;
}

.goldForexSwiper {
  background-color: #292929;
  border-radius: 0.213rem;
  padding: 0.267rem;
}

.goldForexSwiper .content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.goldForexSwiper .content .item img {
  width: 0.667rem;
}

.goldForexSwiper .content .item .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0.133rem;
}

.goldForexSwiper .content .item .item-box span {
  font-size: 0.293rem;
  font-weight: 700;
  color: #fff;
}

.fearGreedIndex {
  position: relative;
}

.fearGreedIndex #greedcontainer {
  height: 6.667rem;
}

.fearGreedIndex .chart-label {
  position: absolute;
  z-index: 1;
  top: 6%;
  height: 6.667rem;
  width: 100%;
}

.fearGreedIndex .chart-label div span {
  color: #e0e0e0;
  font-size: 0.373rem;
}

.fearGreedIndex .chart-label div span.active {
  color: #fff !important;
  font-weight: 700;
}

.fearGreedIndex .chart-label div:not(:first-of-type) span {
  width: 1.933rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.fearGreedIndex #polyline {
  height: 6.667rem;
}

.fearGreedIndex .fearGreedIndex-list {
  padding: 0.533rem;
  border-radius: 0.16rem;
  border: 0.013rem solid #1a1b24;
}

.fearGreedIndex .fearGreedIndex-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fearGreedIndex .fearGreedIndex-list li:not(:last-of-type) {
  padding-bottom: 0.4rem;
}

.fearGreedIndex .fearGreedIndex-list li span {
  font-size: 0.347rem;
  color: #e0e0e0;
}

.financial-management {
  border-radius: 0.16rem;
}

.financial-management .right {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.financial-management .right .management-list {
  width: 100%;
  height: 100%;
}

.financial-management .right .management-list .remark-box {
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  transition: 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  height: 100%;
  border: 0.013rem solid #364140;
  border-radius: 0.2rem;
  background-color: #030304;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.financial-management .right .management-list .remark-box > div {
  width: 100%;
  height: 50%;
}

.financial-management .right .management-list .remark-box .bg {
  height: 5.333rem;
  border-radius: 0.16rem;
  background-size: cover;
}

.financial-management .right .management-list .remark-box .bg.licai-1 {
  background-image: url(/static/img/licai1.png);
}

.financial-management .right .management-list .remark-box .bg.licai-2 {
  background-image: url(/static/img/licai2.png);
}

.financial-management .right .management-list .remark-box .bg.licai-3 {
  background-image: url(/static/img/licai3.png);
}

.financial-management .right .management-list .remark-box .text {
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  background-color: #1f1f1f;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.financial-management .right .management-list .remark-box .text h6 {
  margin-top: 0.133rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.333rem;
  font-size: 0.4rem;
  font-weight: 600;
  color: #000;
  padding: 0.133rem 0.4rem;
}

.financial-management .right .management-list .remark-box .text h6.current {
  background-color: #bcff2f;
}

.financial-management .right .management-list .remark-box .text h6.regular {
  background-color: #f19eff;
}

.financial-management .right .management-list .remark-box .text span {
  margin: 0.133rem 0;
  font-weight: 600;
  font-size: 0.373rem;
  color: #fff;
}

.financial-management .right .management-list .remark-box .text .step {
  width: 100%;
  min-height: 1.533rem;
  background-color: #141414;
  border-radius: 0.16rem;
  padding: 0.267rem;
}

.financial-management .right .management-list .remark-box .text .step .step-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.financial-management
  .right
  .management-list
  .remark-box
  .text
  .step
  .step-text
  > div
  span:first-of-type {
  font-size: 0.453rem;
  font-weight: 600;
  color: #fff;
  margin-right: 0.067rem;
}

.financial-management
  .right
  .management-list
  .remark-box
  .text
  .step
  .step-text
  > div
  span:last-of-type {
  font-size: 0.347rem;
}

.financial-management .right .management-list .remark-box .text .step .step-line {
  border-radius: 1.333rem;
  height: 0.24rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#719efb), to(#bcff2f));
  background: linear-gradient(90deg, #719efb, #bcff2f);
}

.financial-management .right .management-list .remark-box img {
  width: 1.333rem;
  height: 1.333rem;
}

.financial-management .right .management-list .remark-box h6 {
  font-size: 0.427rem;
  font-weight: 700;
  color: #fff;
  padding-top: 0.267rem;
  margin-bottom: 0.107rem;
}

.financial-management .right .management-list .remark-box > span {
  font-size: 0.347rem;
  color: #919191;
}

.financial-management .right .management-list .remark-box .numeric {
  font-size: 0.293rem;
  font-weight: 700;
  color: #0ecb81;
  padding: 0.267rem 0;
}

.financial-management .right .management-list .pl {
  width: 0.427rem;
  height: 0.427rem;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: 100% 100%;
  cursor: pointer;
}

.financial-management .right .management-list .pl .mantine-1kvfxz6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
}

.financial-management .right .management-list .pl .mantine-1kvfxz6 i {
  font-size: 0.427rem;
}

.financial-management .right > .text {
  margin-top: 0.8rem;
  text-align: left;
}

.financial-management .right > .text h6 {
  font-size: 0.56rem;
  color: #fff;
}

.financial-management .right > .text p {
  font-size: 0.48rem;
}

.financial-management .right > .text .his {
  margin-top: 0.533rem;
}

.financial-management .right > .text .his > .text {
  width: 100%;
  border-radius: 0.16rem;
  background-color: #1f1f1f;
  padding: 0.267rem;
}

.financial-management .right > .text .his > .text p {
  font-size: 0.56rem;
  color: #fff;
}

.financial-management .right > .text .his > .text .up {
  font-size: 0.507rem;
}

.financial-management .right > .text .his > .text .color-remark {
  color: #fff;
  font-size: 0.427rem;
}

.financial-management .right > .text .his .animated-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.financial-management {
  height: 100%;
  border-radius: 0.16rem;
}

.financial-management .right {
  width: 100%;
  position: relative;
}

.financial-management .right .live-c {
  width: 100%;
  height: 100%;
}

.financial-management .right .live-c .live-img {
  background-color: #000;
  padding: 0.107rem;
  border: 0.067rem solid #fff;
  border-radius: 0.16rem;
}

.financial-management .right .live-c .live-text {
  width: 95%;
  margin-top: -0.133rem;
  background-color: #1f1f1f;
  padding: 0.267rem;
  border-radius: 0.16rem;
}

.financial-management .right .live-c .live-text > h6 {
  font-size: 0.533rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.financial-management .right .live-c .live-text > p {
  font-size: 0.427rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
  padding-top: 0.133rem;
}

.financial-management {
  height: 100%;
  border-radius: 0.16rem;
}

.financial-management .right {
  width: 100%;
  position: relative;
}

.financial-management .right .live-c {
  width: 100%;
  height: 100%;
}

.financial-management .right .live-c .live-img {
  padding: 0.107rem;
}

.financial-management .right .live-c .live-text {
  width: 100%;
  margin-top: 0.8rem;
  padding: 0 0.267rem;
}

.financial-management .right .live-c .live-text > h6 {
  font-size: 0.533rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.financial-management .right .live-c .live-text > p {
  font-size: 0.427rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-top: 0.133rem;
}

.financial-management {
  height: 100%;
  border-radius: 0.16rem;
}

.financial-management .left {
  padding-top: 1.333rem;
  width: 40%;
  margin-right: 0.533rem;
}

.financial-management .left h6 {
  font-size: 0.56rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.financial-management .left p {
  font-size: 0.24rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
  padding: 0.4rem 0;
}

.financial-management .left .his > .text {
  width: 4rem;
  border-radius: 0.16rem;
  background-color: #1f1f1f;
  padding: 0.267rem;
}

.financial-management .left .his > .text p {
  font-size: 0.293rem;
  color: #fff;
}

.financial-management .left .his > .text .up {
  font-size: 0.32rem;
}

.financial-management .left .his > .text .color-remark {
  color: #fff;
  font-size: 0.267rem;
}

.financial-management .left .his .animated-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.financial-management .right {
  padding-top: 1.333rem;
  width: 50%;
  height: 6.8rem;
  position: relative;
}

.financial-management .right .live-c {
  width: 100%;
  height: 100%;
}

.financial-management .right .live-c .live-img {
  background-color: #000;
  padding: 0.107rem;
  border: 0.067rem solid #fff;
  border-radius: 0.16rem;
}

.financial-management .right .live-c .live-text {
  width: 75%;
  margin-top: -0.133rem;
  background-color: #1f1f1f;
  padding: 0.267rem;
  border-radius: 0.16rem;
}

.financial-management .right .live-c .live-text > h6 {
  font-size: 0.427rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.financial-management .right .live-c .live-text > p {
  font-size: 0.213rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
  padding-top: 0.133rem;
}

.tabs-header {
  width: 100%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.tabs-header:before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 40%;
  height: 20%;
  -webkit-filter: blur(1.867rem);
  filter: blur(1.867rem);
  left: 45%;
  top: 40%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background: -webkit-gradient(linear, left top, right top, from(#00fcbd), to(#cc157e));
  background: linear-gradient(90deg, #00fcbd, #cc157e);
}

.tabs-header .van-tabs {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.tabs-header .van-tabs .van-tabs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.tabs-header .van-tabs .van-tabs__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 0.107rem;
  margin: 0;
  border-color: #1c2020;
  background-color: transparent;
  border-radius: 1.333rem;
}

.tabs-header .van-tabs .van-tabs__nav .van-tab {
  padding: 0.2rem 0.533rem;
  font-size: 0.427rem;
  color: #8c8c8c;
  border: none;
  border-radius: 1.333rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tabs-header .van-tabs .van-tabs__nav .van-tab:hover .van-tab__text {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.tabs-header .van-tabs .van-tabs__nav .van-tab.van-tab--active {
  color: #000 !important;
  background-color: #fff;
}

.tabs-header .van-tabs .van-tabs__nav .van-tab.van-tab--active .van-tab__text {
  font-weight: 700;
  color: #000 !important;
}

.tabs-header .van-tabs .van-tab__pane {
  padding-top: 0.533rem;
  -webkit-animation: slideInRight-3e566a98 0.3s both;
  animation: slideInRight-3e566a98 0.3s both;
}

@-webkit-keyframes slideInRight-3e566a98 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInRight-3e566a98 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.mobileIndex {
  --bg: #fafafa;
  --textCarousel: linear-gradient(
    91.66deg,
    #000 9.9%,
    rgba(39, 255, 216, 0.972) 26.65%,
    #5151ff 43.37%,
    #ea69ff 60.09%,
    #ffd8da 76.3%,
    #000 92.25%
  );
  --headerText: #000;
  --indexBox: #fff;
  --inviteBor: none;
  --inviteBg: #fff;
  --inputBor: #eaeaea;
}

.is_dark .mobileIndex {
  --bg: #000;
  --textCarousel: linear-gradient(
    91.66deg,
    #fff 9.9%,
    rgba(39, 255, 216, 0.972) 26.65%,
    #5151ff 43.37%,
    #ea69ff 60.09%,
    #ffd8da 76.3%,
    #fff 92.25%
  );
  --headerText: #c4c4c4;
  --indexBox: linear-gradient(180deg, #191919, #070707);
  --inviteBor: 0.013rem solid #8c8c8c;
  --inviteBg: transparent;
  --inputBor: #5c5c5c;
}

.mobileIndex {
  padding: 0.133rem 0.267rem;
  padding-top: 1.133rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0.213rem;
  background: var(--bg);
}

.mobileIndex > div {
  width: 100%;
}

.mobileIndex .index-btn {
  width: 95%;
  background-color: #fff;
  color: #000;
  font-size: 0.373rem;
  font-weight: 700;
  border: none;
  border-radius: 0.667rem;
  padding: 0.4rem 0;
  display: block;
  margin: 0 auto;
  margin-top: 0.533rem;
}

.mobileIndex .invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: var(--inviteBor);
  border-radius: 0.427rem;
  padding: 0.267rem 0;
  margin-top: 0.8rem;
  background: url(/static/img/if.png);
  background-size: cover;
}

.mobileIndex .invite h6 {
  color: #fff;
  font-size: 0.507rem;
  font-weight: 400;
  padding-bottom: 0.4rem;
}

.mobileIndex .invite > div p,
.mobileIndex .invite > div span {
  color: #fff !important;
  font-size: 0.32rem !important;
  font-weight: 400 !important;
}

.mobileIndex .invite .el-button {
  border-radius: 0.667rem;
  padding: 0.267rem 0.533rem;
  background-color: #fff;
}

.mobileIndex .invite .el-button span {
  color: #000;
  font-size: 0.427rem;
}

.mobileIndex .popularStocks-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--blackColor);
  margin-bottom: 0.4rem;
}

.mobileIndex .popularStocks-header > span:first-of-type {
  font-size: 0.533rem !important;
  font-weight: 700 !important;
}

.mobileIndex .popularStocks-header > span:last-of-type {
  font-size: 0.427rem;
  font-weight: 400;
}

.mobileIndex .index-title {
  font-size: 0.453rem;
  font-weight: 700;
  color: var(--blackColor);
}

.mobileIndex .mobileIndex-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 0.4rem;
  padding: 0.8rem 0;
}

.mobileIndex .mobileIndex-title > h6 {
  width: 80%;
  font-size: 0.88rem;
  font-weight: 700;
  color: var(--blackColor);
  padding-bottom: 0.4rem;
  position: relative;
  z-index: 2;
}

.mobileIndex .mobileIndex-title > h6 > span {
  font-size: 0.907rem;
  color: var(--goldColor);
}

.mobileIndex .mobileIndex-title .introduceContent {
  color: var(--blackColor);
  font-size: 0.347rem;
  font-weight: 400;
}

.mobileIndex .mobileIndex-title .coin-animation {
  width: 100%;
  height: 4rem;
  position: relative;
  right: -3.333rem;
  bottom: -1.333rem;
  z-index: 1;
}

.mobileIndex .mobileIndex-title .coin-animation .el-icon-right {
  z-index: 2;
  font-size: 0.827rem;
  color: var(--blackColor);
  border: 0.013rem solid #bcff2f;
  background-color: #1c1c1e;
  border-radius: 50%;
  padding: 0.267rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mobileIndex .mobileIndex-title .coin-animation .coin-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.013rem solid #2f2f32;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  -webkit-animation: spin-53c75a44 10s linear infinite;
  animation: spin-53c75a44 10s linear infinite;
}

@-webkit-keyframes spin-53c75a44 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes spin-53c75a44 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.mobileIndex .mobileIndex-title .coin-animation .coin-img > img:first-of-type {
  width: 0.787rem;
  position: absolute;
  top: 0.467rem;
  left: 0.133rem;
}

.mobileIndex .mobileIndex-title .coin-animation .coin-img > img:nth-of-type(2) {
  width: 0.573rem;
  position: absolute;
  top: 3.333rem;
  left: 1.333rem;
}

.mobileIndex .mobileIndex-title .coin-animation .coin-img > img:nth-of-type(3) {
  width: 0.627rem;
  position: absolute;
  top: 2rem;
  left: -0.4rem;
}

.mobileIndex .mobileIndex-title .coin-animation > .coin-img:nth-of-type(2) {
  width: 6.667rem;
  height: 6.667rem;
  top: calc(50% - 3.333rem);
  left: calc(50% - 3.333rem);
  -webkit-animation: spin-53c75a44 20s linear infinite;
  animation: spin-53c75a44 20s linear infinite;
}

.mobileIndex .mobileIndex-title .coin-animation > .coin-img:nth-of-type(2) > img:nth-of-type(2) {
  top: 4.8rem;
}

.mobileIndex .mobileIndex-title .coin-animation > .coin-img:nth-of-type(3) {
  width: 9.333rem;
  height: 9.333rem;
  top: calc(50% - 4.667rem);
  left: calc(50% - 4.667rem);
  -webkit-animation: spin-53c75a44 30s linear infinite;
  animation: spin-53c75a44 30s linear infinite;
}

.mobileIndex .mobileIndex-title .coin-animation > .coin-img:nth-of-type(3) > img:first-of-type {
  top: 1rem;
}

.mobileIndex .mobileIndex-title .coin-animation > .coin-img:nth-of-type(3) > img:nth-of-type(2) {
  top: 6rem;
}

.mobileIndex .mobileIndex-title .coin-animation .coin-bor {
  width: 12rem;
  height: 12rem;
  top: calc(50% - 6rem);
  left: calc(50% - 6rem);
  border-radius: 50%;
  border: 0.013rem solid #2f2f32;
  position: absolute;
}

.mobileIndex .common-functions2 {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.267rem;
  color: var(--headerText);
  border-radius: 0.16rem;
  padding: 0 0 0.4rem 0;
}

.mobileIndex .common-functions2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1e;
  border-radius: 0.32rem;
  padding: 0.133rem 0;
}

.mobileIndex .common-functions2 .item i {
  font-size: 0.693rem;
  color: var(--blackColor);
}

.mobileIndex .common-functions2 .item span {
  font-size: 0.347rem;
  font-weight: 400;
  text-align: center;
}

.mobileIndex .common-functions {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.267rem;
  color: var(--headerText);
  border-radius: 0.16rem;
}

.mobileIndex .common-functions .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1c1c1e;
  border-radius: 0.32rem;
  padding: 0.2rem 0.267rem;
}

.mobileIndex .common-functions .item.live span {
  display: inline-block;
  background-color: #d11919;
  padding: 0 0.107rem;
  border-radius: 0.16rem;
}

.mobileIndex .common-functions .item i {
  font-size: 0.64rem;
  color: var(--blackColor);
}

.mobileIndex .common-functions > div p,
.mobileIndex .common-functions > div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  color: var(--blackColor) !important;
  font-size: 0.32rem !important;
  font-weight: 400 !important;
}

.mobileIndex .common-functions .el-button {
  border-radius: 0.667rem;
  padding: 0.267rem 0.533rem;
  background-color: var(--blackColor);
}

.mobileIndex .common-functions .el-button span {
  font-size: 0.347rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.133rem;
}

.mobileIndex .contracts-coin,
.mobileIndex > .fearGreedIndex {
  background-color: #141416;
  border-radius: 0.2rem;
  padding: 0.267rem;
  margin-top: 0.8rem;
}

.mobileIndex .contracts-coin .popularStocks-header {
  padding: 0 0 0.267rem 0;
  font-size: 0.293rem;
  color: #fff;
}

.mobileIndex .contracts-coin .contracts-capitalization {
  width: 100%;
  margin: 0.4rem 0;
}

.mobileIndex .contracts-coin .contracts-capitalization .capitalization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.mobileIndex .contracts-coin .contracts-capitalization .item {
  height: auto;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .title {
  font-size: 0.427rem;
  color: #fff;
  margin-bottom: 0.133rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 0.013rem solid #2f2f32;
  background-color: #1c1c1e;
  border-radius: 0.16rem;
  padding: 0.267rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .contracts-title {
  color: #ccc;
  font-size: 0.293rem;
  font-weight: 400;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .contracts-age {
  font-size: 0.373rem;
  font-weight: 700;
  color: #0bc98d;
  margin: 0.267rem 0;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .rise-fall {
  width: 100%;
  color: #919191;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.133rem 0;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .rise-fall span {
  font-size: 0.293rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .rise-fall span:last-of-type {
  color: #fff;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-text span {
  font-size: 0.267rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c {
  width: 100%;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c > div {
  height: 0.4rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c > div span {
  font-size: 0.187rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c .buy {
  border: none !important;
  background-color: var(--tradingGreen);
  position: relative;
  overflow: hidden;
  text-align: left;
  color: #fff;
  font-size: 0.24rem;
  font-weight: 700;
  padding-left: 0.067rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c .buy:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left: 0.4rem solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0.413rem solid #1c1c1e;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c .sell {
  border: none !important;
  background-color: var(--tradingRed);
  position: relative;
  overflow: hidden;
  text-align: right;
  color: #fff;
  font-size: 0.24rem;
  font-weight: 700;
  padding-right: 0.067rem;
}

.mobileIndex .contracts-coin .contracts-capitalization .item .content .buy-sell-c .sell:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right: 0.4rem solid transparent;
  border-left: 0 solid transparent;
  border-top: 0.413rem solid #1c1c1e;
}

.mobileIndex .popularStocks:last-of-type {
  margin-top: 0;
}

.mobileIndex .market-capitalization {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.4rem 0;
}

.mobileIndex .market-capitalization .item {
  height: auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: 0.013rem solid #1a1b24;
  background-color: #0b0b0c;
  border-radius: 0.16rem;
  padding: 0.267rem;
}

.mobileIndex .market-capitalization .item:not(:last-of-type) {
  margin-right: 0.133rem;
}

.mobileIndex .market-capitalization .item img,
.mobileIndex .market-capitalization .item svg {
  width: 0.64rem;
  height: 0.64rem;
}

.mobileIndex .market-capitalization .item .capitalization-title {
  text-align: center;
  color: #ccc;
  font-size: 0.347rem;
  font-weight: 500;
}

.mobileIndex .market-capitalization .item .capitalization-age {
  color: #fff;
  font-size: 0.347rem;
  font-weight: 700;
  margin: 0.267rem 0;
}

.mobileIndex .market-capitalization .item .rise-fall {
  color: #0bc98d;
}

.mobileIndex .market-capitalization .item .rise-fall span {
  font-size: 0.293rem;
}

.mobileIndex .swiper-box {
  padding-top: 0.4rem;
  position: relative;
}

.mobileIndex .swiper-box .swiper-wrapper .el-image {
  height: 5.333rem !important;
}

.mobileIndex .swiper-box .swiper-wrapper .swiper-pagination-clickable {
  bottom: 0.4rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobileIndex .swiper-box .swiper-wrapper .swiper-pagination-clickable span {
  width: 0.333rem;
  height: 0.333rem;
  background-color: #919191;
  opacity: 1;
}

.mobileIndex
  .swiper-box
  .swiper-wrapper
  .swiper-pagination-clickable
  .swiper-pagination-bullet-active {
  background-color: #bcff2f;
}

.mobileIndex .gold-forex {
  margin-top: 0.8rem;
}

.mobileIndex .gold-forex .forex-img {
  margin-top: 0.667rem;
  background-color: #141416;
  border-radius: 0.16rem;
  padding: 0.267rem 0;
}

.mobileIndex .gold-forex .forex-img img {
  margin: 0 auto;
}

.mobileIndex .common-problem {
  background-color: #141416;
  border-radius: 0.2rem;
  margin-top: 0.8rem;
  padding: 0.533rem;
}

.mobileIndex .common-problem .popularStocks-header {
  padding-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mobileIndex .common-problem .popularStocks-header > span:last-of-type {
  color: #919191;
  margin-top: 0.133rem;
}

.mobileIndex .common-problem .problem-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mobileIndex .common-problem .problem-box li {
  margin-top: 0.267rem;
  width: 50%;
}

.mobileIndex .common-problem .problem-box li h6 {
  font-size: 0.427rem;
  font-weight: 400;
  color: var(--blackColor);
  padding: 0.133rem 0;
}

.mobileIndex .common-problem .problem-box li span {
  font-size: 0.32rem;
  font-weight: 400;
  color: #919191;
}

.mobileIndex .index-tabs {
  padding: 0.933rem 0.267rem;
  margin: 1.2rem -0.267rem 0.4rem -0.267rem;
  background-color: #09090b;
  width: 100vw !important;
}

.mobileIndex .coin-trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.8rem;
}

.mobileIndex .coin-trade .popularStocks-header {
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobileIndex .coin-trade .popularStocks-header > span:last-of-type {
  color: #919191;
  margin-top: 0.133rem;
}

.mobileIndex .news-container {
  margin-top: 0.8rem;
}

.mobileIndex .partners {
  width: 100%;
  margin-top: 0.8rem;
}

.mobileIndex .my-partner {
  width: 100%;
  margin: 0.467rem 0;
  text-align: center;
  position: relative;
}

.mobileIndex .my-partner:before {
  content: '';
  height: 100%;
  width: 1.6rem;
  position: absolute;
  z-index: 2;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #000),
    to(hsla(0, 0%, 100%, 0))
  );
  background: linear-gradient(90deg, #000 40%, hsla(0, 0%, 100%, 0));
}

.mobileIndex .my-partner:after {
  content: '';
  height: 100%;
  width: 1.6rem;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsla(0, 0%, 100%, 0)),
    color-stop(40%, #000)
  );
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #000 40%);
}

.mobileIndex .my-partner .swiper-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobileIndex .my-partner .swiper-container .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobileIndex .my-partner .swiper-container .swiper-wrapper .swiper-slide {
  width: auto !important;
  margin: 0 1.333rem;
}

.mobileIndex .swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  margin: 0 auto;
}
