.country-selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}

.country-selector .el-select {
    width: 100%;
    height: 100%
}

.country-selector .el-select .el-input__prefix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.country-selector .el-select .el-input--medium {
    height: 100%
}

.country-selector .el-select .el-input .el-input__inner {
    height: 100%;
    background-color: #fff;
    border-radius: .107rem
}

.mobile-country-selector .el-select {
    width: 100%
}

.mobile-country-selector .el-select .el-input__prefix {
    padding-left: .133rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.mobile-country-selector .el-select .el-input__prefix .fi {
    width: .667rem;
    height: .667rem
}

.mobile-country-selector .el-select .el-input__suffix {
    padding-right: .133rem
}

.mobile-country-selector .el-select .el-input__suffix .el-input__suffix-inner .el-select__caret {
    font-size: .267rem
}

.mobile-country-selector .el-select .el-input .el-input__inner {
    height: 1.093rem;
    background-color: #fff;
    border: .013rem solid #e0e0e0;
    border-radius: .107rem;
    padding-left: .933rem;
    padding-right: .533rem;
    font-size: .293rem;
    font-weight: 400;
    color: #818181
}

.mobile_resetPwd_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 94vh
}

.mobile_resetPwd_box, .mobile_resetPwd_box .authenticationPopup-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobile_resetPwd_box .authenticationPopup-header {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .533rem
}

.mobile_resetPwd_box .authenticationPopup-header h6, .mobile_resetPwd_box .authenticationPopup-header i {
    font-size: .48rem;
    font-weight: 700;
    color: #000
}

.mobile_resetPwd_box .resetPwd_content {
    font-size: .213rem;
    color: var(--onsurface);
    width: 8.933rem
}

.mobile_resetPwd_box .resetPwd_content a {
    font-weight: 400
}

.mobile_resetPwd_box .resetPwd_content .el-form .show-username {
    margin-bottom: .093rem
}

.mobile_resetPwd_box .resetPwd_content .el-form .show-username span {
    font-size: .293rem;
    font-weight: 400;
    color: var(--text)
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item {
    margin-bottom: .48rem
}

.mobile_resetPwd_box .resetPwd_content .el-form .usernameSend {
    color: #000;
    padding-bottom: .133rem
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__label {
    width: 100% !important;
    text-align: left;
    font-size: .293rem;
    color: var(--text);
    white-space: nowrap
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content {
    margin-left: 0 !important;
    max-width: 8.933rem
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner {
    font-size: .373rem;
    height: .96rem;
    width: 100%;
    background-color: transparent;
    border-radius: .667rem;
    border: .013rem solid #e0e0e0;
    color: #000
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner::-webkit-input-placeholder {
    color: #94959b
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner::-moz-placeholder {
    color: #94959b
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner:-ms-input-placeholder {
    color: #94959b
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner::-ms-input-placeholder {
    color: #94959b
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__inner::placeholder {
    color: #94959b
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__icon {
    display: none
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-input__suffix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .icon-style {
    font-size: .427rem
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-button {
    border-color: #000;
    color: #fff;
    width: 100%;
    height: .96rem;
    font-size: .48rem;
    font-weight: 400;
    border-radius: .667rem;
    background: #000;
    border: 0
}

.mobile_resetPwd_box .resetPwd_content .el-form .el-form-item__content .el-form-item__error {
    position: static;
    font-size: .293rem;
    font-weight: 400
}

.mobile_resetPwd_box .resetPwd_content .el-form .is-error .el-input__inner {
    border: .013rem solid #f56c6c
}

.mobile_resetPwd_box .resetPwd_content .username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.mobile_resetPwd_box .resetPwd_content .username .country {
    width: 35%;
    margin-right: .133rem
}

.mobile_resetPwd_box .resetPwd_content .username .country .el-input__inner {
    height: .96rem;
    background: transparent;
    border-radius: .187rem;
    border: .013rem solid #e0e0e0
}

.mobile_resetPwd_box .resetPwd_content .username .el-form-item {
    width: 100%
}

.mobile_resetPwd_box .resetPwd_content .code_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: .48rem
}

.mobile_resetPwd_box .resetPwd_content .code_box .el-form-item {
    margin-bottom: 0;
    height: 1.467rem
}

.mobile_resetPwd_box .resetPwd_content .code_box .el-button {
    width: 2.547rem;
    height: .96rem;
    border-radius: .667rem;
    padding: .133rem 0;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: .293rem
}

.mobile_resetPwd_box .resetPwd_content .code_box .el-button.is-disabled {
    color: #fff
}

.mobile_resetPwd_box .resetPwd_content .code_box .el-form-item {
    width: 5.587rem
}

.mobile_resetPwd_box .resetPwd_content .log {
    text-align: center;
    margin-top: 1.48rem
}

.inputColor {
    --formBg: #f4f6f8;
    --boxBg: #fff;
    --elFormBg: #fcfdfd
}

.is_dark .inputColor {
    --formBg: #000;
    --boxBg: #161617;
    --boxBor: none;
    --boxBor: #ccc;
    --elFormBg: #232325
}

.forgetPassword-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.forgetPassword-box .el-icon-back {
    font-size: .6rem;
    cursor: pointer;
    position: absolute;
    left: .667rem;
    top: .667rem;
    color: var(--blackColor);
    z-index: 2
}

.forgetPassword-box .both-sides {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

.forgetPassword-box .both-sides img {
    width: 100%
}

.forgetPassword-box .box-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.forgetPassword-box .box-right > img:first-of-type {
    width: 90%;
    position: absolute;
    bottom: 0
}

.forgetPassword-box .forgetPassword {
    height: 94vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: var(--pwdBg);
    background-size: cover
}

.forgetPassword-box .forgetPassword .reset_box {
    color: var(--blackColor);
    z-index: 100;
    padding: .8rem .8rem;
    border-radius: .267rem;
    background-color: var(--elFormBg)
}

.forgetPassword-box .forgetPassword .reset_box .reset_box-title {
    font-size: .427rem;
    padding-bottom: .48rem;
    margin: 0;
    color: var(--font)
}

.forgetPassword-box .forgetPassword .reset_box p {
    color: var(--font)
}

.forgetPassword-box .forgetPassword .reset_box .el-form {
    width: 5.6rem
}

.forgetPassword-box .forgetPassword .reset_box .el-form .username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.forgetPassword-box .forgetPassword .reset_box .el-form .username .country {
    width: 35%;
    height: .64rem;
    margin-right: .133rem
}

.forgetPassword-box .forgetPassword .reset_box .el-form .username .country .el-input__inner {
    height: .64rem;
    background-color: var(--formBg);
    border-radius: .16rem;
    border: none;
    color: var(--blackColor)
}

.forgetPassword-box .forgetPassword .reset_box .el-form .username .el-form-item {
    width: 100%
}

.forgetPassword-box .forgetPassword .reset_box .el-form .code_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: .267rem
}

.forgetPassword-box .forgetPassword .reset_box .el-form .code_box .el-button {
    width: 1.88rem;
    height: .64rem;
    border-radius: .107rem;
    padding: .133rem 0;
    background: #fff;
    color: #000;
    border: none
}

.forgetPassword-box .forgetPassword .reset_box .el-form .code_box .el-form-item__label {
    width: auto !important;
    white-space: nowrap
}

.forgetPassword-box .forgetPassword .reset_box .el-form .code_box .el-form-item {
    width: 3.44rem;
    height: .933rem
}

.forgetPassword-box .forgetPassword .reset_box .el-form .code_box .is-error .el-input__inner {
    border: .013rem solid #f56c6c
}

.forgetPassword-box .forgetPassword .reset_box .el-form .el-form-item {
    margin-bottom: .2rem
}

.forgetPassword-box .forgetPassword .reset_box .el-form .is-error .el-input__inner {
    border: .013rem solid #f56c6c
}

.forgetPassword-box .forgetPassword .reset_box .el-form .el-form-item__content .el-input__inner {
    height: .64rem;
    background: #292929;
    border-radius: .107rem;
    border: .013rem solid #dbdbdb;
    color: var(--blackColor)
}

.forgetPassword-box .forgetPassword .reset_box .el-form .el-form-item__content .el-button {
    height: .64rem;
    width: 100%;
    border-radius: .107rem;
    border: none;
    color: var(--bg);
    background: var(--blackColor)
}

.forgetPassword-box .forgetPassword .el-form-item__content {
    margin-left: 0 !important
}

.forgetPassword-box .forgetPassword .el-form-item__content .el-input__inner {
    height: .64rem;
    background: var(--formBg);
    border-radius: .107rem;
    border: none
}

.forgetPassword-box .forgetPassword .el-form-item__content .el-input__icon {
    display: none
}

.forgetPassword-box .forgetPassword .el-form-item__content .el-input__suffix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.forgetPassword-box .forgetPassword .el-form-item__content .icon-style {
    font-size: .213rem
}

.forgetPassword-box .forgetPassword .el-form-item__content .el-input__inner:focus {
    border: none
}

.forgetPassword-box .forgetPassword .el-form-item__content .el-form-item__error {
    position: static
}

.forgetPassword-box .forgetPassword .returnToLoginPage {
    font-size: .16rem;
    font-weight: 400;
    color: var(--goldColor)
}
